.UploadToYoutube{
    margin: 15px 3% 0 0 !important;
    color: black !important;
    padding: 8px 20px !important;
    display: block;
    width: 47%;
    float: left;
}
.RemoveFile{
    margin: 15px 0 0 3% !important;
    color: black !important;
    padding: 8px 20px !important;
    display: block;
    width: 47%;
    float: right;
}
.UploadToYoutube:hover, .RemoveFile:hover{
    color: white !important;
}