/*Base Media Qwery*/
/*@media screen and (min-width:1200px) and (max-width:1920px) {
}

@media screen and (min-width:760px) and (max-width:1000px) {
}

@media screen and (min-width:320px) and (max-width:760px) {
}

@media screen and (max-width:320px) {
}*/



/*Work Media Query*/
@media screen and (max-width:1216px) {
	.wrap {
		width: 100%;
		min-width: 100%;
	}
	.top_sb_box {
		width: 100%;
	}
	.top_logo {
		margin-left: 15px;
	}
	.serch_wr {
		width: 100%;
		padding: 0 20px;
	}
	.profession_box {
		width: 100%;
		padding: 0 20px;
	}
	.profession_box ul {
		width: 100%;
	}
	.reklam_wr {
		width: 100%;
		padding: 0 20px;
	}
	.reklam_box_r, .reklam_box_l {
		width: 48%;
		background-size: 50%;
	}
	body .reklab_art {
		font-size: 38px !important;
	}
	body .reklam_text {
		font-size: 16px !important;
	}
	body .reklam_box_r a {
		font-size: 14px !important;	
	}

	.video_box {
		width: 100%;
		padding: 0 0 0 12px;
	}
	.video_item {
		/*width: 32%;*/
		width: 32.4%;
		height: auto;
		min-height: 251px;
		margin-right: 8px;
	}
	.video_img {
		width: 100%;
	}
	body .show_more_video_btn {
		/*display: block;*/
	}
	.paginatio_box {
		width: 100%;
		padding: 0 20px;
		text-align: center;
	}
	.paginatio_box ul {
		display: inline-block;
	}
	.paginatio li {
		padding-bottom: 5px;
	}
	.footer_wr {
		width: 100%;
		min-width: 100%;
	}
	.footer {
		width: 100%;
		min-width: 100%;
	}
	.video_singl_box {
	    width: 100%;
	    margin: 25px auto 0;
	    padding: 0 20px;
	}
	.video_singl_wrap {
		min-height: auto;
	}
	.master_box {
		width: 100%;
		min-width: 100%;
	    /*padding: 0 20px;*/
	}
	.master_box_item .video_box {
		width: 100%;
	}
	.master_box_item .video_item {
	    /*width: 24%;*/
	    width: 98%;
	    /*width: auto;*/
	    min-height: auto !important;
	    margin: 3px;
	}
	.sl_contr_btn_wrap {
		margin: 14px 0 0 12px;
		width: 97.49%;
	}
}

@media screen and (max-width:1187px) {
	.vs_text_box {
/*		float: right !important;
    	max-width: 87%;*/
    }
}

@media screen and (max-width:1145px) {
	.sity_name {
		/*margin-left: 40%;*/
		margin-left: 0;
	}
	.vs_box_top_nav li {
		margin: 0 0 0 10px;
	}
	.vs_box_top_nav li:before {
		margin: 3px 10px 0 0;
	}
	.show_btn_box {
    	padding: 15px 25px;
	}
}

@media screen and (max-width:1024px) {
	.wrap {
		padding-bottom: 51px;
	}
	.paginatio_box {
		margin: 19px auto 0px auto;
	}
	.profession_box li {
		margin: 0 5px 10px 0;
	}
	.profession_box li a {
		padding: 4px 5px;
	}
	body .profession_box a {
    	font: 15.5px 'proxima_nova_ltsemibold';
	}
	.vs_box_content_Left {
		/*width: 100%;*/
		width: 70%;
	}
	.vs_box_content_Right {
		width: 262px;
		/*width: 100%;
		float: none !important;
		clear: both;*/
	}
	.show_btn_box {
    	padding: 15px 25px;
    	float: left;
    	height: 67px;
    	/*margin: 20px 0 0 0;*/
	}
	.vs_box_hiden {
		float: right;
		padding: 20px 0 0 0;
	}
	.vs_box_top_nav {
		float: left;
		display: table;
		padding: 0 0 5px 0;
		margin: 0 0 0 90px;
		border-bottom: 1px solid #88827e;
	}
	.vs_ansver_time {
		padding: 0 0 5px 0;
		margin: 10px 0 0 90px;
	}
	.vs_spliter {
		display: none;
	}
	.vs_box_top_nav li {
		clear: both;
	}
	.vs_box_top_nav li:before {
		background-color: #fff !important;
		margin: 3px 10px 0 1px;
	}
	.vs_user_spec {
		margin: 0 0 10px 0;	
	}
}

@media screen and (max-width:992px) {
	.sity_name {
		margin-left: 0;
	}

	.fot_logo {
		margin-right: 5px;
		margin-left: 10px;
	}
	.vs_box_content_Left {
		width: 60%;
	}
	.vs_box_top_nav li {
		clear: both;
	}
	.vs_box_top_nav li:before {
		background-color: transparent;
	}

}

@media screen and (max-width:960px) {
	.sity_name {
		/*margin-left: 25%;*/
		margin-left: 0;
	}
	.paginatio_box {
		margin-top: 50px;
	}
	.fot_logo {
		margin: 10px auto 0;
		float: none !important;
	}
	body .fot_nav {
		margin: 0 auto 0;
		padding: 15px 0;
		float: none !important;
		display: table;
		text-align: center;
	}
	.fot_copy {
		margin: 0 auto 5px;
		float: none !important;
		display: table;
		text-align: center;	
	}
}

@media screen and (max-width:885px) {
	.reklam_wr {
		margin-top: 25px;
	}
	.reklam_box_r, .reklam_box_l {
		width: 80%;
		float: none !important;
		margin: 0 auto;
		background-size: 50%;
	}
	body .reklam_box_r:after {
		display: none;
	}
	body .video_item {
		margin-right: 7px;
	}
}

@media screen and (max-width:820px) {
	.sity_name {
		/*margin-left: 25%;*/
		margin-left: 0;
	}

	.fot_logo {
		margin-right: 15px;
	}
	body .fot_nav a {
		font-size: 15px;
	}

	.vs_text_box {
/*		float: right !important;
    	max-width: 85%;*/
    }
}

@media screen and (max-width:785px) {

}

@media screen and (max-width:768px) {
	.sity_name {
		/*margin-left: 4%;*/
		/*margin-left: 0;*/
		margin: 10px auto 0;
	    float: none !important;
	    width: 100%;
	}
	body .jq-selectbox.jqselect.top_select {
		width: 93%;
	}

	.video_box {
		width: 100%;
		margin-top: 50px;
		padding: 0 0 0 30px;
	}
/*	.video_box_art {
		padding: 0 15px;
	}*/

	body .video_item {
		width: 47%;
		height: auto;
		min-height: 50%;
		margin-right: 14px;
		margin-bottom: 10px;
	}
	#main_sl .video_img {
		margin: 0 auto;
		text-align: center;
	}
	.video_img {
		display: block;
		width: 100%;
	}
	.reklam_box_r, .reklam_box_l {
		width: 80%;
		background-size: 40%;
	}

	.footer {
		text-align: center;
	}
	.fot_logo {
		text-align: center;
		float: none !important;
		margin: 15px auto 5px;
	}
	body .fot_nav a {
		font-size: 15px;
	}
	.fot_nav {
		padding-top: 15px;
		float: none !important;
		margin: 0 auto;
		text-align: center;
		display: table;
	}
	.fot_copy {
		float: none !important;
		margin: 10px auto;
		text-align: center;
		display: inline-block;
	}

	.enter_box, .reg_box {
		display: none;
	}
/*	.reg_box_mob {
		display: block;
	}*/
/*	.enter_box_mob {
		display: block;
	}*/
	.top_authentication {
		margin-right: 0;
	}
	.reg_box_mob:before, .enter_box_mob:before {
		margin-right: 15px;
	}
	.user_top_box {
		width: 100%;
		margin: 15px auto 0;
	}
	.box_auth_mob img {
		margin: 0 15px 0 0;
		display: block;
	}
	.top_logo {
		width: auto;
	}
	.top_sb {
		background-size: inherit;
	}
	.box_auth_mob {
	    position: absolute;
	    right: 0;
	    top: 12px;
	    display: block;
	    z-index: 999;
	}
	body .serch_wr {
		margin-top: 15px;
		padding: 0 25px;
	}
	body .profession_box .profession_more {
	    margin: 5px 0 0 0;
	    padding: 4px 49px;
	    border: 1px solid #000;
	    border-radius: 2px;
	    font-size: 14px;
	}
	body .categoty_box .profession_more {
		margin: 0 auto;
		float: none !important;
	}
	body .all_right_mob  {
		display: block;
	}

	.vs_box_content_Left {
		width: 100%;
		float: none !important;
		clear: both;
	}
	.vs_box_content_Right {
		/*width: 100%;*/
		width: auto;
		float: left !important;
		clear: both;
		margin-top: 30px;
	}

	body .vs_fav {
		display: none !important;
	}
	body .vs_fav.dn_n {
		display: block !important;
	    margin: 0;
	    padding: 4px 19px;
	    border: 1px solid #000;
	    border-radius: 2px;
	    text-decoration: none !important;
	}
	.vs_box_top_nav li:first-child {
		margin: 0 0 0 0;
	}

	body .vs_fav:before {
		/*display: none;*/
	}
	.vs_box_top_nav li{
		margin: 7px 0 0 0;
		clear: both;
	}
	.vs_box_top_nav li:before {
		display: none;
	}
	.vs_box_hiden {
		float: left !important;
		padding: 0;
		margin: 0 0 0 90px;
	}

	.master_box_item .video_box {
	    padding: 0 21px 0 30px;
	    box-sizing: border-box;
	}
	.master_box_item .video_item {
		margin: 0 auto 0 ;
		/*width: 70%;*/
		float: none;
	}
	.want_to_line {
		margin-right: 24px;
	}
	.master_box_item {
		margin-bottom: 19px;
	}
}

@media screen and (max-width:700px) {
	body .box-modal {
		width: 90%;
		margin: 0 auto;
	}
	.arcticmodal-conta {
	/*width: 46%;*/
	}
	#upload_win {
		/*width: 90%;
		margin: 0 auto;*/
	}
	.up_win_art {
		background-size: cover;
	}
	.up_win_input_box {
		width: 100%;
		margin: 25px auto 0 auto;
	}
	.up_win_input_box input[type="text"] {
		width: 60% !important;
		margin: 0 5px 10px 5px;
		display: inline-block;
	}
	.up_win_input_box input[type="email"] {
		width: 60% !important;
		margin: 0 5px 10px 5px;
		display: inline-block;
	}
	.up_win_input_box input[type="password"] {
		width: 60% !important;
		margin: 0 5px 10px 5px;
		display: inline-block;
	}
	body .serch_wr {
	    padding: 0 20px;
	}
	.vs_box_content_Right {
		width: 100%;
	}
	.show_btn_box {
		float: none !important;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		background-repeat: repeat-x;
	}
	.show_btn_box:before {
		display: inline-block;
		float: none !important;
		position: relative;
		top: -3px;
		margin-top: 0;
	}

}

@media screen and (max-width:614px) {
	body .mob_top {
		display: block;
	}
	.sl_contr_btn_wrap {
		display: none;
	}
}

@media screen and (max-width:600px) {
	.top_sb {
		/*background-size: cover;*/
	}
	.sity_name {
	    float: right !important;
	    /*margin-left: 0;
	    margin-right: 15px;*/
	    margin: 0;
	}
	.top_authentication {
		width: 209px;
		float: none !important;
		margin: 0 auto;
		clear: both;
	}
	.top_authentication .enter_box:before, .top_authentication .enter_box:after {
		background-color: #fff !important;
	}
	body .video_item {
		margin-right: 25px;
		margin-bottom: 15px;
		width: 47%;
	}
	.reklam_box_r {
		width: 70%;
		text-align: center;
		background-size: 100%;
		padding-top: 61%;
		margin-bottom: 40px;
		clear: both;
		display: table;
	}
	.reklam_box_l {
		width: 70%;
		text-align: center;
		background-size: 100%;
		padding-top: 71%;
		margin-bottom: 40px;
		clear: both;
		display: table;
	}
	.reklam_box_r p, .reklam_box_l p, .reklam_box_r a, .reklam_box_l a {
		text-align: center;
		float: none !important;
	}
	body .serch_wr {
	    padding: 0 20px;
	}

	body .reklam_text {
		padding: 0;
	}

	body .reklam_box_r a {
	    clear: both;
	    display: table;
	    margin: 20px auto;
	    font-size: 16px !important;
	}

	body .prem:before {
		width: 39.50%;
		background-size: 90%;
	}
	.vs_text_box {
/*	    float: right !important;
	    max-width: 83%;*/
	}
	.vs_box_hiden {
		width: 100%;
		margin: 0 auto;
	}
	.vs_box_hiden ul {
		display: table;
		margin: 0 auto;
		padding-left: 0;
		border: 0;
		width: 70%;
	}
	
	.video_box {
	    padding: 0 5px;
	    box-sizing: border-box;
	}
	.video_box .video_item:nth-child(2n) {
		margin: 0;
	}
	.master_box_item .video_item {
		width: 70%;
	}
	.vs_box_hiden {
		border-top: 1px solid #88827e;
	}

}

@media screen and (max-width:480px) {
	.top_logo {
		/*float: none !important;*/
		margin: 0 auto; 
		text-align: center;
	}
	.top_logo img {
		margin: 5px 0 0 10px;
		float: left;
	}
	.sity_name {
		float: none !important;
		margin: 5px auto;
	}
	.top_authentication {
		margin: 10px auto;
	}
	body .profession_box a {
		font-size: 12px;
	}

	.video_box {
		/*width: 100%;
		margin-top: 50px;
		padding: 0;
		text-align: center;*/
		padding: 0 15px;
	}
/*	.video_box_art {
		padding: 0 15px;
	}*/
	
	.video_item {
		width: 47.5%;
/*		width: 98%;
		height: auto;
		min-height: 251px;
		margin: 0 auto 15px auto;
		float: none;*/
	}
	.video_item:nth-child(2n) {
		margin-right: 0;
	}
	.vb_fix .video_item:nth-child(2n+1) {
		margin: 0 0 15px 18px;
	}

	.video_img {
		width: 100%;
	}
	.reklam_box_r {
		width: 90%;
		padding-top: 80%;
		/*background-size: 25%;*/
	}
	.reklam_box_l {
		width: 90%;
		padding-top: 90%;
	}
	body .reklab_art {
		/*font-size: 28px !important;*/
	}
	body .reklam_text {
		/*padding-right: 165px;*/
	}
	body .reklam_box_l .reklam_text {
		/*padding-right: 145px;*/
	}
	body .reklam_box_r a {
	    clear: both;
	    display: table;
	    margin: 20px auto;
		font-size: 16px !important;
	}

	.fot_nav li:first-child {
		margin-left: 0 !important;
	}
	body .fot_nav a {
		font-size: 12px;
	}

	#upload_win {
	    height: auto;
	    padding: 0 0 10px 0;
	}
	.up_win_art {
		min-height: 37px;
	}
	.up_win_art p {
		font-size: 38px;
	}
	.up_win_input_box input[type="text"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_input_box input[type="email"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_input_box input[type="password"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_btn {
		width: 80%;
		padding: 11px 31px;

		font-size: 24px !important;
	}
	.vs_text_box {
/*	    float: right !important;
	    max-width: 80%;*/
	}
	.vs_user_spec {
	    font: 14px 'proxima_nova_ltlight';
	    padding: 15px 0 !important;
	    clear: both;
	    border-bottom: 1px solid #88827e;
	}
	.vs_box_top_nav {
		display: table;
		margin: 0 auto;
		float: none !important;
	}
	.vs_ansver_time {
		text-align: center;
		float: none !important;
		margin-left: 0;
	}
	body .profession_box a > span {
	    font: 12px 'proxima_nova_ltlight';
	    padding: 0 0 0 5px;
	    display: block;
	    float: right;
	}
}

@media screen and (max-width:450px) {
	body .serch_wr {
		margin: 13px auto;
		padding: 0 15px;
	}
	.serch_box input[type='text'] {
		font-size: 14px;
	}
	.serch_wr p {
	    font-size: 11px;
	    margin: 5px auto;
	    text-align: left;
	    display: block;
	    float: none !important;
	}
	.vb_fix .video_item:nth-child(2n+1) {
		margin: 0 0 15px 15px;
	}
	body .video_item {
		width: 47.5%;
		margin-right: 13px;
	}
}

@media screen and (max-width:400px) {
	.reklam_box_r {
	    width: 100%;
		padding-top: 300px;
	}
	.reklam_box_l {
	    width: 100%;
		padding-top: 99%;
	}
	body .reklam_text {
	    /*padding-right: 95px;*/
	    padding-right: 0px;
	}
	body .reklam_box_l .reklam_text {
	    /*padding-right: 73px;*/
	    padding-right: 0px;
	}
	body .top_logo {
		width: 45%;
		margin: 0;
	}
	body .top_logo img {
		width: 100%;
		margin: 15px 0 0 10px;
	}
	body .top_authentication {
		margin: 0;
	}
	body .serch_wr {
		padding: 0 15px;
	}
	.vs_spliter {
		width: 100%;
		margin: 15px auto;
	}
}

@media screen and (max-width:360px) {

	.reklam_box_r {
	    width: 100%;
		padding-top: 85%;
	}
	.reklam_box_l {
	    width: 100%;
		padding-top: 100%;
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 14.5px;
	}
	body .profession_box a > span {
	    font: 12px 'proxima_nova_ltlight';
	    padding: 0.4px 0 0 5px;
	}
	.master_box_item .video_item {
		margin: 0 auto 0 ;
		width: 90%;
		float: none;
	}
}

@media screen and (max-width:320px) {
	.wrap {
		min-width: 320px;
	}
	body .profession_box a {
		font-size: 10px;
	}
	body .serch_wr {
	    padding: 0 10px;
	}
}
