﻿/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	/*font: 12px/18px Arial, sans-serif;*/
	height: 100%;
	background-color: #fff;
}










































/* Wrap
-----------------------------------------------------------------------------*/
.wrap {
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 101px;
}


/*Start Header SideBar*/
.top_sb {
	width: 100%;
	margin: 0 auto;
	background-image: url('../img/t_nav_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_sb_box {
	width: 1200px;
	margin: 0 auto;
	min-height: 60px;
	text-align: center;
	position: relative;
}

/*Logo Top*/
.top_logo {
	width: 31%;
	margin: 5px 0 0 0;
}

/*User Box*/
.user_top_box {
	margin: 0 auto;
	width: auto;
	/*min-width: 67%;*/
	display: table;
}


/*Select Conf*/
.sity_name {
	display: inline-block;
    width: auto;
    position: relative;
    margin: 10px 20px 0 0;
    /*padding: 0 0 0 49.4%;*/
    color: #fff;
    box-sizing: border-box;
}
/*.sity_name:before {
	content: '';
	width: 19px;
	height: 29px;
	float: left;
	margin: 0 12px 0 0;
	background-image: url('../img/loc_pointer.png');
	background-position: left top;
	background-repeat: no-repeat;
}*/

.top_select {
	position: relative;
}

.jq-selectbox {
	outline: none;
}
.jq-selectbox:before {
    content: '';
    width: 19px;
    height: 29px;
    float: left;
    margin: 6px 12px 0 6px;
    background-image: url('../img/loc_pointer.png');
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

body .jq-selectbox.jqselect.top_select {
	min-width: 255px;
}

body .jq-selectbox__select {
	height: 40px;
	margin: 0;
	/*margin: 5px 0 0 0;*/
	border: 0 !important;
	box-shadow: none !important;
	border: 1px solid #c6c6c6 !important;
	padding: 0 45px 0 30px;
}
body .jq-selectbox__select-text {
    width: auto !important;
    cursor: pointer;
    text-align: left;
	font: 20px/18px 'proxima_nova_rgregular';
	margin: 11px 16px 0 3px;
}
.jq-selectbox__dropdown {
	float: left;
    width: 100% !important;
    cursor: pointer;
    background-image: url('../img/t_nav_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9px;
    box-sizing: border-box;
}
.jq-selectbox__dropdown ul {
	text-align: left;
	overflow-y: hidden !important;
}
body .jq-selectbox__dropdown li {
	width: 100%;
	/*height: 23px;*/
    text-align: left;
    background-color: #F2F2F2;
    /*border-bottom: 1px transparent dotted;
    color: #fff;*/
    font: 20px/23px 'proxima_nova_rgregular';
    margin: 0 0 0 0;
    display: inline-block;
}
.jq-selectbox__dropdown li:hover {
    text-align: left;
    /*border-bottom: 1px #fff dotted;*/
}
.jq-selectbox__dropdown li:first-child {
	border: 0px none #ffffff;
	/*Firefox*/
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	/*Safari, Chrome*/
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

}
.jq-selectbox__dropdown li:last-child {
	border: 0px none #ffffff;
	/*Firefox*/
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	/*Safari, Chrome*/
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.jq-selectbox__trigger {
	position: absolute;
	border: 0 !important;
	top: 0;
    right: 0;
    width: 11px;
    height: 100%;
}
body .jq-selectbox__trigger-arrow {
	position: absolute;
	width: 15px !important;
    height: 17px !important;
	/*width: 25px !important;
    height: 17px !important;*/
    background-image: url('../img/selection_arr_r.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none !important;
    top: 16px;
    right: 5px;
    background-size: contain;
	/*top: 11px;
	right: 5px;*/
}


/*Auth box*/
.top_authentication  {
	margin: 10px 16px 0 0;
    /*position: relative;
    z-index: 999999999;*/
}
.top_authentication a:hover {
	text-decoration: none;
}
.top_authentication .enter_box {
	float: left;
	color: #fff;
	margin: 0 0 0 0;
	display: block !important;
	font: 18px/42px 'proxima_nova_ltsemibold';
}
.top_authentication .enter_box:hover,.top_authentication .reg_box:hover {
	color: #EAE6E6;
}
.top_authentication .enter_box:before {
	content: '';
	width: 1px;
	height: 40px;
	float: left;
	background-color: #aad292;
	margin: 0 20px 0 0;
}
.top_authentication .enter_box:after {
	content: '';
	width: 1px;
	height: 40px;
	float: right;
	background-color: #aad292;
	margin: 0 0 0 20px;
}
.top_authentication .reg_box {
	float: left;
	color: #fff;
	margin: 10px 0 0 18px;
	display: block !important;
	font: 18px 'proxima_nova_ltsemibold';
}

.reg_box_mob {
	display: block !important;
}
.enter_box_mob {
	display: block !important;
}
.reg_box_mo:before, .enter_box_mob:before {
    content: '';
    width: 1px;
    height: 40px;
    float: left;
    background-color: #aad292;
    margin: 0 20px 0 0;
}
.box_auth_mob {
	display: none;
}




/*Serch Box*/
.serch_wr {
	width: 1200px;
	margin: 40px auto 0 auto;
	text-align: left;
}
.serch_box {
	width: 100%;
	margin: 0 auto;
	padding: 15px 0 13px 19px;
	text-align: left;
	border: 1px solid #b9b2ad;
	background-color: #fff;
	position: relative;
}

.serch_box input[type='text'] {
	color: #645e5a;
	font: 16px 'proxima_nova_ltlight';
	width: 90%;
	padding: 0 0 0 0;
	border: 0;
	outline: none;
}
.serch_box input::-moz-placeholder { color: #645e5a; }
.serch_box input::-webkit-input-placeholder {color:#645e5a;}
.serch_box input::-moz-placeholder          {color:#645e5a;}/* Firefox 19+ */
.serch_box input:-moz-placeholder           {color:#645e5a;}/* Firefox 18- */
.serch_box input:-ms-input-placeholder      {color:#645e5a;}

.serch_box button {
	position: absolute;
	top: 11px;
	right: 15px;
	width: 23px;
	height: 28px;
	background-image: url('../img/serch_ico.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0;
	padding: 0;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}
.serch_wr p {
	color: #645e5a;
	margin: 9px 0 0 20px;
	font: 14px 'proxima_novaregular_italic';
}
.serch_wr span {
	text-decoration: underline;
}



/*Profession Box*/
.profession_box {
	width: 1200px;
	margin: 35px auto 0 auto;
	text-align: center;
}
.profession_box ul {
	position: relative;
	display: table;
    table-layout: fixed;
}
.profession_box li {
	float: left;
	display: table-cell;
	margin: 0 12px 10px 0;
}
body .profession_box a {
	box-sizing: border-box;
	display: block;
	padding: 4px 19px 4px 19px;
    border-radius: 3px;
	font: 16px 'proxima_nova_ltsemibold';
	color: #645e5a;
	background-color: #e4e5e9;
	border: 1px solid #e4e5e9;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.profession_box a:hover {
	color: #fff;
	background-color: #72b94d;
	text-decoration: none;
	border: 1px solid #a0d971;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";/*IE 8*/
	-moz-box-shadow: 1px 1px 2px #d4d4d4;/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 2px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 2px #d4d4d4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4); /*IE 5.5-7*/	
}

.cat_actv {
	color: #fff !important;
	background-color: #72b94d !important;
	text-decoration: none !important;
	border: 1px solid #a0d971 !important;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";/*IE 8*/
	-moz-box-shadow: 1px 1px 2px #d4d4d4;/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 2px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 2px #d4d4d4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4); /*IE 5.5-7*/		
}

body .profession_box .profession_more {
	margin: 5px 0 0 11px;
	padding: 0;
	border-radius: 0;
	display: inline-block;
	font: 16px 'proxima_nova_rgregular';
	color: #645e5a;	
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #000;
}
body .profession_box .profession_more:hover {
	color: #645e5a;
	background-color: #fff;
	box-shadow: none;
}


/*Reklabm Box*/
.reklam_wr {
	width: 1216px;
	margin: 0 auto;
}

/*Reklabm Left*/
.reklam_box_r {
	width: 599px;
	min-height: 300px;
	text-align: left;
	margin: 62px 0 0 0;
	position: relative;

	background-image: url('../img/reklam_box_bg1.png');
	background-position: 99% top;
	background-repeat: no-repeat;
}
body .reklam_box_r:after {
	width: 1px;
	height: 250px !important;
	content: '';
	position: absolute;
	top: 12px;
	right: 0;
	float: right;
	visibility: visible;

	background-color: #e4e5e9;
}
.reklab_art {
	font: 48px 'BebasNeueBook';
	color: #645e5a;
	padding: 0 0 6px 4px;
	text-transform: uppercase;
}
.reklam_text {
	font: 20px 'proxima_nova_ltlight';
	color: #645e5a;
	padding: 0 270px 11px 2px;
}
body .reklam_box_r a {
	position: relative;
	display: inline-block;
	font: 16px 'proxima_nova_rgregular';
	color: #53a13a;
	float: left;
	clear: both;
	padding: 0 0 0 4px;
	/*margin-right: 390px;*/
	text-decoration: underline;
	/*border-bottom: 1px solid #c8dec3;*/
}
body .reklam_box_r a:after {
	content: '';
	width: 22px;
	height: 7px;
	position: absolute;
	margin: 7px 0 0 6px;

	background-image: url('../img/arr_right.png');
	background-position: right top;
	background-repeat: no-repeat;
}
body .reklam_box_r a:hover {
	/*text-decoration: none;*/
}
body a.reklam_btn {
	border-radius: 3px;
	text-transform: uppercase;
	font: 30px 'BebasNeueRegular';
	color: #fff;
    margin: 20px 0 0 0;
    padding: 6px 39px;
	text-decoration: none;
	
	background-image: url('../img/bnt_bg1.png');
	background-position: center top;
	background-repeat: no-repeat;

	background-color: #72b94d;
	text-decoration: none;
	border: 1px solid #a0d971;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";/*IE 8*/
	-moz-box-shadow: 1px 1px 2px #d4d4d4;/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 2px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 2px #d4d4d4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4); /*IE 5.5-7*/	
}
body a.reklam_btn:hover {
	opacity: 0.88;
	/*background-position: 150px 150px;
	background-color: #72b94d;	
	background-image: rgba()*/
}

body a.reklam_btn:after {
	content: none;
	display: none;
}


/*PopUp Win*/
#upload_win, #entr_win {
	background-image: url('../img/pop_bg.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: center;
}
body #entr_win.box-modal {
	height: auto;
	padding-bottom: 25px;
}
body #entr_win.box-modal .up_win_btn{
	margin-top: 20px;
}

.up_win_art {
	width: 100%;
	min-height: 74px;
	margin: 0 0 0 0;
	background-image: url('../img/pop_reg_bg.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}
.up_win_art p {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 48px 'BebasNeueRegular';
	padding: 9px 0 0 0;
}
.up_win_input_box {
	width: 100%;
	margin: 41px 0 0 0;
}
.up_win_input_box input[type="text"], .up_win_input_box input[type="password"] {
    width: 550px;
    height: 60px;
    border: 1px solid #d6d1ce;
    font: 20px 'proxima_nova_rgregular';
    color: #645e5a !important;
    background-color: #fff;
    outline: none;
    display: block;
    padding: 0 0 0 29px;
    margin: 0 0 10px 25px;
}

.up_win_btn {
    display: inline-block;
    text-align: center;
    font: 30px 'BebasNeueRegular';
    color: #fff !important;
    border-radius: 5px;
    margin: 0px 0 0 0;
    padding: 11px 71px;
    background-image: url('../img/pop_btn_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    text-transform: uppercase;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.up_win_btn:hover {
	text-decoration: none;
	opacity: 0.88;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.up_win_reg_sn {
	text-align: center;
    font: 16px 'proxima_nova_rgregular';
    color: #645e5a !important;
    border-radius: 5px;
	margin: 12px 0 13px 0;
}
.social_box {
	position: relative;
	max-width: 260px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.social_box li:first-child {
    margin: 0 9px 0 3px;
}
.social_box li {
    margin: 0 8px 0 4px;
	float: left;
}
.social_box a {
	text-align: center;
	padding: 0 0 0 0;
}
.social_box img {
	text-align: center;
	display: block;
	margin: 0 auto;
}


/*Reklabm Right*/
.reklam_box_l {
	width: 599px;
	min-height: 300px;
	text-align: left;
	margin: 62px 0 0 0;
	position: relative;

	background-image: url('../img/reklam_box_bg2.png');
	background-position: 105% top;
	background-repeat: no-repeat;
}

body .reklam_box_l .reklab_art {
	font: 48px 'BebasNeueBook';
	color: #645e5a;
	padding: 0 0 6px 4px;
	text-transform: uppercase;
}
body .reklam_box_l .reklam_text {
	font: 20px 'proxima_nova_ltlight';
	color: #645e5a;
	padding: 0 0 17px 5px;
}
body .reklam_box_l a {
	position: relative;
	display: inline-block;
	font: 16px 'proxima_nova_rgregular';
	color: #53a13a;
	float: left;
	clear: both;
	padding: 0 0 0 7px;
	/*margin-right: 390px;*/
	text-decoration: underline;
	/*border-bottom: 1px solid #c8dec3;*/
}
body .reklam_box_l a:after {
	content: '';
	width: 22px;
	height: 7px;
	position: absolute;
	margin: 7px 0 0 9px;

	background-image: url('../img/arr_right.png');
	background-position: right top;
	background-repeat: no-repeat;
}
body .reklam_box_l a:hover {
	/*text-decoration: none;*/
}
body .reklam_box_l a.reklam_btn {
	border-radius: 3px;
	text-transform: uppercase;
	font: 30px 'BebasNeueRegular';
	color: #fff;
    margin: 20px 0 0 0;
    padding: 6px 39px;
	text-decoration: none;
	
	background-image: url('../img/bnt_bg1.png');
	background-position: center top;
	background-repeat: no-repeat;

	background-color: #72b94d;
	text-decoration: none;
	border: 1px solid #a0d971;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";/*IE 8*/
	-moz-box-shadow: 1px 1px 2px #d4d4d4;/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 2px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 2px #d4d4d4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4); /*IE 5.5-7*/	
}
body .reklam_box_l a.reklam_btn:hover {
	opacity: 0.88;
	/*background-position: 150px 150px;
	background-color: #72b94d;	
	background-image: rgba()*/
}

body .reklam_box_l a.reklam_btn:after {
	content: none;
	display: none;
}



/*Video Box*/
.video_box {
	width: 1216px;
	margin: 0px auto 0 auto;
	box-sizing: border-box;
	//border-bottom: 1px solid #645e5a;
	text-align: center;
	position: relative;
}

.video_box_art {
	font: 30px 'bebas_neuebold';
	color: #645e5a;
	padding: 0 0 26px 0;
	text-align: left;
	text-transform: uppercase;
}

/*Video Item*/
.video_item {
	width: 292px;
	height: 251px;
	float: left;
	box-sizing: border-box;
	position: relative;
	margin: 0 11px 10px 0;
}
.video_link {
	display: block;
	text-align: left;
}
.video_link:hover {
	text-decoration: none;
}

.video_img {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	-webkit-filter: grayscale(0.6);
	-moz-filter: grayscale(0.6);
	-ms-filter: grayscale(0.6);
	-o-filter: grayscale(0.6);
}
.video_link:hover .video_img {
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;

	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.vedeo_art {
	text-transform: uppercase;
	font: 14px 'proxima_nova_rgbold';
	color: #645e5a;
	padding: 6px 0 0 10px;
}
.vedeo_text {
	font: 14px 'proxima_nova_rgregular';
	color: #645e5a;
	padding: 0 0 0 11px;
}


/*Premium Item*/
.prem:before {
    content: '';
    float: left;
    width: 103px;
    height: 48px;
    position: absolute;
	z-index: 9999;
    top: 7px;
    left: -8px;

	background-image: url('../img/prem_bg.png');
	background-position: left top;
    background-repeat: no-repeat;
}

/*More BTN*/
body .show_more_video_btn {
	text-align: center;
	display: table;
	margin:  23px auto 28px auto;
	padding: 4px 19px 4px 19px;
	border: 1px solid #000;
	border-radius: 2px;
	font: 20px 'proxima_nova_rgregular';
	color: #645e5a !important;
	text-decoration: none;
}
body .show_more_video_btn:hover {
	background-color: #DCDCDB;
}

/*Pagination Box*/
.paginatio_box {
	width: 1200px;
	margin: 19px auto 94px auto;
    box-sizing: border-box;
}
.paginatio_box ul {
	position: relative;
}
.paginatio_box li {
	float: left;
	margin: 0 3px 0 0;
}
.paginatio_box a {
	display: block;
	text-align: center;
	border-radius: 2px;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding: 0 0 0 0;
	font: 16px 'proxima_nova_rgregular';
	color: #645e5a !important;
	border: 1px solid #645e5a;
	background-color: #fff;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.paginatio_box a:hover {
	color: #fff !important;
	background-color: #645e5a;
	text-decoration: none;

	transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
body .pagin_actv {
	color: #fff !important;
	background-color: #645e5a;
	text-decoration: none;
}
body .pagin_text {
	font: 14px 'proxima_nova_rgregular';
	padding: 0 17px;
	width: auto !important;
	color: #fff !important;
	background-color: #645e5a;
	text-decoration: none;
}


/*Video Singl Box*/
.video_singl_box {
	width: 1200px;
	margin: 25px auto 0;
}
.video_singl_wrap {
	width: 100%;
	min-height: 650px;
	  position:relative;
	  padding-bottom:56.25%;
	  padding-top:30px;
	  height:0;
	  overflow:hidden;
}
.video_singl_box iframe,.videoWrapper object, .videoWrapper embed{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*
.vb_fix  {
	margin-top: 108px !important;
}*/
.vs_box_content {
	width: 100%;
	margin: 30px 0 0 0;
	overflow: hidden;
}
.vs_box_content_Left {
	width: 73.34%;
	margin: 0 0 0 0;
	position: relative;
}
.vs_box_content_Right {
	width: 26.66%;
	margin: 0 0 0 ;
	/*background-color: pink;*/
	position: relative;
}
.vs_box_content_Right a:hover {
	text-decoration: none !important;
}

.show_btn_box {
	font: 30px 'BebasNeueRegular';
	color: #fff !important;
	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;

	float: right;

	opacity: 1;

	margin: 0;
    padding: 15px 39px 16px 33px;
	text-decoration: none;
	
	background-image: url('../img/bnt_bg2.png');
	background-position: center top;
	background-repeat: no-repeat;

	background-color: #72b94d;
	text-decoration: none;
	border: 1px solid #a0d971;

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";/*IE 8*/
	-moz-box-shadow: 1px 1px 2px #d4d4d4;/*FF 3.5+*/
	-webkit-box-shadow: 1px 1px 2px #d4d4d4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 1px 1px 2px #d4d4d4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4); /*IE 5.5-7*/	
}
.show_btn_box:hover {
    opacity: 0.88;
}
.show_btn_box:before {
	content: '';
	width: 27px;
	height: 17px;
	float: left;
	margin: 10px 9px 0 1px;

	background-image: url('../img/btn_eye.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}


.vs_box_hiden {
	margin: 0;
	display: none;
}
.vs_box_hiden ul {
    padding: 11px 0 5px 20px;
    box-sizing: border-box;
    border-left: 1px solid #88827e;
}
.vs_box_hiden li:first-child {
	margin: 0 0 9px 0;
}
.vs_box_hiden li:first-child a {
	font: 24px/25px 'BebasNeueRegular';
	/*font: 24px 'BebasNeueRegular';*/
	color: #404040 !important;
	padding: 0 0 0 0;
}
.vs_box_hiden li:first-child img {
	float: left;
	margin: 3px 6px 0 9px;
	padding: 0;
}

.vs_box_hiden li {
	float: left;
	clear: both;
	margin: 1px 0 0 8px;
}

.vs_box_hiden a{
	font: 16px 'proxima_nova_rgregular';
	color: #88827e !important;
	padding: 0 0 0 0;

	display: block;
	width: auto;
	height: 24px;
	text-align: center;
	float: left;
}
.vs_box_hiden a:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	height: 21px;
}
.vs_box_hiden a img {
	display: inline-block;
	vertical-align: middle;
	float: left;
	padding: 0 8px 0 0;
}
.vs_box_hiden li > span {
	float: left;
	display: block;
}

.vs_avatar {
	margin: 0 0 0 0;
    overflow: hidden;
    border-radius: 4px;
}
.vs_avatar a {
	display: block;
}
.vs_avatar img {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.vs_text_box {
	/*max-width: 91%;*/
	margin: 0;
	box-sizing: border-box;
	position: relative;
}
.vs_text_box p{
	padding: 0 0 0 90px;
}
.vs_user_name {
    font: 36px/26px 'proxima_nova_rgregular';
    padding: 0;
    color: #202020;
    text-align: left;
    margin: 0 0 5px 0px;
}
.vs_user_jobs {
	font: 16px 'proxima_nova_rgregular';
	padding: 0 0 8px 0;
	color: #202020;
	text-align: left;
}
.vs_user_spec {
	font: 14px 'proxima_nova_ltlight';
	padding: 0;
	text-align: left;
	color: #88827e;
	margin: 10px 0 0 1px;
}

.vs_box_top_nav {
	margin: 10px auto 0;
	position: relative;
}
.vs_box_top_nav li {
	float: left;
	margin: 0 0 0 20px;
	text-align: left;
	font: 16px 'proxima_nova_rgregular';
	color: #88827e;
}
.vs_box_top_nav li:first-child{
	margin-left: 0;
}
.vs_box_top_nav li:first-child:before {
	display: none;
}
.vs_box_top_nav li:before {
	content: '';
	width: 1px;
	height: 16px;
	margin: 3px 20px 0 0;
	float: left;
	background-color: #88827e !important;
}
body .vs_fav {
	display: block;
	color: #88827e !important;
	text-decoration: underline !important;
}
body .vs_fav:before {
	content: '';
	width: 16px;
	height: 15px;
	float: left;
	margin: 1px 7px 0 0;
	background-image: url("../img/fav_star.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.vs_spliter {
	width: 205px;
	height: 1px;
	clear: both;
	margin: 12px 0 9px 0;
	background-color: #88827e;
}
.vs_ansver_time {
	font: 14px 'proxima_nova_rgregular';
	color: #61b150;
	padding: 0 0 0 0;
}




/*Star New Page Category*/
.categoty_box .video_box {
	margin: 0 auto 0;
	border-bottom: 0 !important;
}
body .profession_box a > span {
	font: 14px 'proxima_nova_ltlight';
	padding: 0 0 0 0;
}

.master_box {
	width: 1216px;
	margin: 0 auto 0;
}
body .categoty_box_art {
	margin: 0 auto;
	text-align: center;
	padding: 87px 0 7px 0;
	display: block;
	font: 36px 'BebasNeueRegular';
	color: #333;
}
.want_to_line {
	font: 16px 'proxima_nova_rgregular';
	padding: 0 0 0 0;
	margin: 0 18px 7px 0;
	color: #a4a5aa !important;
	clear: both;
	/*text-decoration: underline !important;*/
	border-bottom: 1px solid #a4a5aa;
}
.want_to_line:hover {
	text-decoration: none !important;
}

.master_box_item {
	width: 100%;
	margin: 0 auto 0;
	clear: both;
}
.master_box_item .video_box {
	box-sizing: border-box;
	padding: 0 12px;
}
.master_box_item .video_box:last-child {
	margin-right: 0;
}

/*Master Slider CSS*/
.sl_contr_btn_wrap {
	width: 98.8%;
	text-align: center;
	position: relative;
	background-image: url('../img/sl_contr_btn_wrap_bg.jpg');
	background-repeat: repeat-x;
	background-position: 0 9px;
}
.sl_contr_btn {
	width: 52px;
	background-color: #fff;
	display: inline-table;
	margin: 0 auto 19px;
}

.btn_arr_left {
	width: 18px;
	height: auto;
	margin: 0 0 0 0;
	cursor: pointer;
}
.btn_arr_right {
	width: 18px;
	height: auto;
	margin: 0 0 0 0;
	cursor: pointer;
}
.btn_split {
	width: 16px;
	margin: 0 auto;
}

.mob_top {
	display: none;
	margin: 0 auto 23px !important;
	width: 254px !important;
    background-position: 0 14px;
}
.mob_top .btn_arr_left {
	position: absolute;
	top: 5px;
	left: 0;
	background-color: #fff;
}
.mob_top .btn_arr_right {
	position: absolute;
	top: 5px;
	right: 0;
	background-color: #fff;
}

.sl_box_size {
	display: table;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 7px;
}
.sl_box_size p {
    display: inline-block;
    font: 24px 'proxima_nova_rgregular';
    padding: 0 4px 0 7px;
}
.sl_box_size span{
    display: inline-block;
    font: 16px 'proxima_nova_rgregular';
    padding: 0 0 0 0;
}
p.currentItem {
	padding: 0;
}
p.currentItem span{
	font: 24px 'proxima_nova_cn_rgbold';
}

p.owlItems {
	padding: 0;
}
p.owlItems span {
	font: 24px 'proxima_nova_ltlight';
}















































































/* Footer
-----------------------------------------------------------------------------*/
.footer_wr {
    min-width: 1200px; 
    max-width: 1920px;
    min-height: 101px;
    clear: both;
    background-color: #fff;
}
.footer {
    margin: 0 auto;
    width: 1200px; 
    min-height: 101px;
    clear: both;
    border-top: 1px solid #888888;
}

/*Logo Footer*/
.fot_logo {
    margin: 25px 80px 0 10px;
}
.fot_logo img {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/*Footer Nav*/
.fot_nav {
	margin: 0;
	padding: 39px 0 0 0px;
}
.fot_nav  ul {
	position: relative;
}
.fot_nav li:first-child {
	margin-right: 0;
}
.fot_nav li {
	float: left;
	margin: 0 0 0 23px;
}
body .fot_nav a {
	display: block;
	color: #645e5a;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 18px 'proxima_nova_ltsemibold';
	text-decoration: none;
	border-bottom: 1px solid transparent;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body .fot_nav a:hover {
	transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;

    border-bottom: 1px solid #645e5a;
}

/*Copy*/
.fot_copy {
	color: #645e5a;
	padding: 0 0 0 0;
	margin: 39px 9px 0 0;
	text-align: left;
}
.fot_copy p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 14px 'proxima_nova_ltlight';
}
body .fot_copy a {
    float: right;
    display: block;
    color: #645e5a;
    padding: 0 0 0 3px;
    text-decoration: underline;
    font: 14px 'proxima_nova_ltlight';
}
body .all_right_mob {
	font: 20px 'proxima_nova_ltlight';
	color: #645e5a;
	text-align: center;
	padding: 0 0 0 0;
	display: none;
}

















































/*My CSS Style*/

/*Widht Size*/
.bw {
	width: 1200px;
	margin: 0 auto;
}

/*Max-width*/
.mw {
    max-width: 1200px;
}

/*float rules*/
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.cb {
	clear: both !important;
}

/*Box Sizing*/
.bs {
    box-sizing: border-box;
}

/*Fix PAD BOT*/
.fix_pb {
	padding-bottom: 0 !important;
}

/*Display BLOCK or NONE*/
.dn_b {
	display: block !important;
}
.dn_n {
	display: none !important;
}

/*Fix BG*/
.fix_bg {
	background-color: none !important;
}

/*Shadow box*/
.shdb {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#333333)";/*IE 8*/
	-moz-box-shadow: 0px 1px 2px #333333;/*FF 3.5+*/
	-webkit-box-shadow: 0px 1px 2px #333333;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0px 1px 2px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#333333); /*IE 5.5-7*/
}

/*Shadow text*/
.shdt {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000)";/*IE 8*/
	text-shadow: -1px 0px 0px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000); /*IE 5.5-7*/
}

/*Clear fix*/
.clf:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clf:after {
  content: "";
  display: table;
  clear: both;
}

/*Display none*/
.dn {
    display: none;
}

/*CSS Tran*/
.hb {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.hb:hover {
	transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

/*Art Modal windows*/
.box-modal .mod_contact_box{
	width: 100%;
	position: relative;
}
body .box-modal {
    width: 600px;
    height: 600px;
    background-color: #ededed;
    border-radius: 0px;
    padding: 0 0 0 0;
    box-shadow: none;
}
.arcticmodal-overlay {
	opacity: 0.2 !important;
	background-color: rgb(0, 0, 0) !important;
}
.box-modal_close {
    right: 9px !important;
    top: 10px !important;
    z-index: 9999;
    font-size: 16px !important;
    color: #000 !important;
}
.mod_cont_box {
	position: relative;
}

.mod_cont_box input[type="text"] {
    width: 240px;
    height: 39px;
    border: 1px solid #d4d4d4;
    border-radius: 35px;
    font: 14px 'open_sanslight';
    color: #a8a8a8;
    outline: none;
    margin: 20px auto 20px auto;
    display: block;
    padding: 0 0 0 19px;
}






/********_SEO BOX_********/
body p {
    font-size: 16px;
}
body h1 {
    font-size: 30px;
}
body h2 {
    font-size: 26px;
}
body h3 {
    font-size: 20px;
}
body h4 {
    font-size: 16px;
}

/*body a:link {
    color: #000;
}*/
a:visited {
    color: #900060;
}
a:focus {
	outline-offset: 0;
	display: none;
}