/* ----------------------------------------
    Labs page main styles
---------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    margin: 0;
    overflow: scroll;
    background-color: #eee;

    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

pre .cmt { /* pre comment */
    color: #aaa;
}

pre .opt { /* pre option */
    font-weight: bold;
}

pre .val { /* pre value */
    font-style: italic;
}

code {
    background-color: #eee;
    color: #333;
    display: inline-block;
    padding: 1px 5px;
}

body {
    font: 1em/1.8 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #121212;
    margin: 0;
    padding: 0;
}

a {
    color: #F66169;
    text-decoration: none;
}

h2 {
    margin-top: 2.5em;
    padding-bottom: .2em;
    border-bottom: 1px solid #eee;
}

p {
    color: #666;
}



.header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222;
    color: #fff;
    border-bottom: #F66169 3px solid;
}

.logo {
    width: 120px;
    float: left;
    margin-left: 30px;
    color: #FAEFDE;
    font-weight: bold;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.logo:hover {
    color: #fff;
}

.view-article {
    display: block;
    text-align: center;
    background-color: #F66169;
    color: #FAEFDE;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-top: 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.view-article:hover {
    color: #111;
    background-color: #fff;
}

.light {
    color: #ccc;
    font-size: 14px;
}



/* ----------------------------------------
    Lab specific: scrollUp
---------------------------------------- */

.themes {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.themes li {
    text-align: center;
    display: block;
    float: left;
    width: 22%;
    margin-left: 4%;
}

.themes li.first {
    margin-left: 0;
}

.themes li a {
    display: block;
    padding: 10px;
    background-color: #444;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #eee;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.themes li a:hover,
.themes li a.active {
    background-color: #F66169;
    color: #FAEFDE;
}

#toggleActive {
    padding: 10px;
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #444;
    color: #eee;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#toggleActive.active {
    background-color: #F66169;
    color: #FAEFDE;
}

#scrollUp-active {
    display: none;
}
