@media screen and (max-width: 1216px) {
    .wrap {
	    width: 100%;
	    min-width: 100%;
	}
	.top_sb_box {
	    width: 100%;
	}
	.top_logo {
	    margin-left: 15px;
	}
	.serch_wr {
	    width: 100%;
	    padding: 0 20px;
	}
	.profession_box {
	    width: 100%;
	    padding: 0 20px;
	}
	.profession_box ul {
	    width: 100%;
	}
	.reklam_wr {
	    width: 100%;
	    padding: 0 20px;
	}
	.reklam_box_r, .reklam_box_l {
	    width: 48%;
	    background-size: 50%;
	}
	body .reklab_art {
	    font-size: 38px !important;
	}
	body .reklam_text {
	    font-size: 16px !important;
	}
	body .reklam_box_r a {
	    font-size: 14px !important;
	}
	.video_box {
	    width: 100%;
	    margin: 0 auto;
	}
	.video_item {
	    width: 32.4%;
	    height: auto;
	    min-height: 251px;
	    margin-right: 8px;
	}
	.video_img {
	    width: 100%;
	}
	body .show_more_video_btn {
	}
	.paginatio_box {
	    width: 100%;
	    padding: 0 20px;
	    text-align: center;
	}
	.paginatio_box ul {
	    display: inline-block;
	}
	.paginatio li {
	    padding-bottom: 5px;
	}
	.footer_wr {
	    width: 100%;
	    min-width: 100%;
	}
	.footer {
	    width: 100%;
	    min-width: 100%;
	}
	.video_singl_box {
	    width: 100%;
	    margin: 25px auto 0;
	    padding: 0 20px;
	}
	.video_singl_wrap {
	    min-height: auto;
	}
	.master_box {
	    width: 100%;
	    min-width: 100%;
	}
	.master_box_item .video_box {
	    width: 100%;
	    padding: 0 15px 0 12px;
	    margin: 0 auto 0 !important;
	}
	.master_box_item .video_item {
	    width: 98%;
	    min-height: auto !important;
	    margin: 3px;
	}
	.sl_contr_btn_wrap {
	    margin: 14px 0 0 12px;
	    width: 97.49%;
	}
	.category_content {
	    width: 100%;
	    box-sizing: border-box;
	    padding: 0 12px;
	}
	.cat_box_right {
	    width: 75%;
	}
	ul.hider_content_nav {
	    width: 264%;
	}
	ul.hider_content_nav li {
	    width: 48% !important;
	}
	body .pers_cab_box {
	    width: 100%;
	}
	body #nav_tabs_right {
	    width: 74.2%;
	}
	body .video_upload {
	    width: 98.7%;
	    float: left;
	}
	body .video_upload a {
	    margin-right: 10px;
	}
	.video_upload p {
	    width: 74%;
	}
	.akord_cont_box li > div {
	    width: 33%;
	}
}



@media screen and (max-width: 1187px) {
    .vs_text_box {
	}
	 body #vb3 .video_item {
	    width: 32%;
	    min-height: 210px;
	}
	 .cat_box_left {
	    width: 25%;
	}
	 .cat_box_left li a {
	    padding-right: 5px;
	}
}



@media screen and (max-width: 1145px) {
    .sity_name {
	    margin-left: 0;
	}
	.vs_box_top_nav li {
	    margin: 0 0 0 10px;
	}
	.vs_box_top_nav li:before {
	    margin: 3px 10px 0 0;
	}
	.show_btn_box {
	    padding: 15px 25px;
	}
	.category_content {
	    padding-right: 0;
	}
	.cat_box_left {
	    width: 26%;
	}
	.cat_box_right {
	    width: 73%;
	}
	body #nav_tabs_left {
	    width: 25.25%;
	}
	body .revision_vid {
	    left: 3px;
	}
	body .published_vid {
	    right: 3px;
	}
	body .revision_vid, body .published_vid {
	    font-size: 12px;
	}
	.video_upload p {
	    width: 72%;
	}
}



@media screen and (max-width: 1024px) {
    .wrap {
	    padding-bottom: 51px;
	}
	.paginatio_box {
	    margin: 19px auto 0px auto;
	}
	.profession_box li {
	    margin: 0 5px 10px 0;
	}
	.profession_box li a {
	    padding: 4px 5px;
	}
	body .profession_box a {
	    font: 15.5px 'proxima_nova_ltsemibold';
	}
	.vs_box_content_Left {
	    width: 70%;
	}
	.vs_box_content_Right {
	    width: 262px;
	}
	.show_btn_box {
	    padding: 15px 25px;
	    float: left;
	    height: 67px;
	}
	.vs_box_hiden {
	    float: right;
	    padding: 20px 0 0 0;
	}
	.vs_box_top_nav {
	    float: left;
	    display: table;
	    padding: 0 0 5px 0;
	    margin: 0 0 0 90px;
	    border-bottom: 1px solid #88827e;
	}
	.vs_ansver_time {
	    padding: 0 0 5px 0;
	    margin: 10px 0 0 90px;
	}
	.vs_spliter {
	    display: none;
	}
	.vs_box_top_nav li {
	    clear: both;
	}
	.vs_box_top_nav li:before {
	    background-color: #fff !important;
	    margin: 3px 10px 0 1px;
	}
	.vs_user_spec {
	    margin: 0 0 10px 0;
	}
	.master_box_item .video_box {
	    padding: 0 12px;
	}
}



@media screen and (max-width: 992px) {
    .sity_name {
	    margin-left: 0;
	}
	.fot_logo {
	    margin-right: 5px;
	    margin-left: 10px;
	}
	.vs_box_content_Left {
	    width: 60%;
	}
	.vs_box_top_nav li {
	    clear: both;
	}
	.vs_box_top_nav li:before {
	    background-color: transparent;
	}
}



@media screen and (max-width: 960px) {
    .sity_name {
	    margin-left: 0;
	}
	.paginatio_box {
	    margin-top: 50px;
	}
	.fot_logo {
	    margin: 10px auto 0;
	    float: none !important;
	}
	body .fot_nav {
	    margin: 0 auto 0;
	    padding: 15px 0;
	    float: none !important;
	    display: table;
	    text-align: center;
	}
	.fot_copy {
	    margin: 0 auto 5px;
	    float: none !important;
	    display: table;
	    text-align: center;
	}
	body .cat_box_left li a, body .cat_box_left a span {
	    font-size: 13.5px !important;
	}
	body .save_btn {
	    display: none;
	}
	body .save_btn.dn_n {
	    display: block !important;
	    margin: 5px 9px 0 0;
	    text-transform: uppercase;
	}
	#nav_tabs_left {
	    width: 100% !important;
	    padding: 0 20px;
	    margin: 0 auto 59px;
	    float: none !important;
	}
	body #nav_tabs_right {
	    width: 100% !important;
	    padding: 0 20px;
	    margin: 0 auto 0;
	    float: none !important;
	}
	body .revision_vid, body .published_vid {
	    font-size: 14px;
	}
	.akord_cont_box li div:first-child .hide_categori_box {
	    left: 0;
	    margin: 0;
	}
}



@media screen and (max-width: 885px) {
    .reklam_wr {
	    margin-top: 25px;
	}
	.reklam_box_r, .reklam_box_l {
	    width: 80%;
	    float: none !important;
	    margin: 0 auto;
	    background-size: 50%;
	}
	body .reklam_box_r:after {
	    display: none;
	}
	body .video_item {
	    margin-right: 7px;
	}
	body #vb3 .video_item {
	    width: 48%;
	    min-height: 210px;
	    margin-right: 14px;
	}
	 body #vb3 .video_item:nth-child(2n) {
	    margin-right: 0;
	}
	 body .cat_box_left li a, body .cat_box_left a span {
	    font-size: 13px !important;
	}
	.top_logo {
	    width: 28%;
	    margin-left: 5px;
	}
	.top_logo img {
	    width: 100%;
	    display: block;
	}
	.top_authentication {
	    margin-right: 0;
	}
	.user_top_box {
	    width: 69%;
	}
	.login_on_box:before {
	    margin-right: 0;
	}
	.sity_name {
	    margin-right: 0 !important;
	}
}



@media screen and (max-width: 820px) {
    .sity_name {
	    margin-left: 0;
	}
	.fot_logo {
	    margin-right: 15px;
	}
	body .fot_nav a {
	    font-size: 15px;
	}
	.vs_text_box {
	}
	body .cat_box_left li a, body .cat_box_left a span {
	    font-size: 13px !important;
	}
	body .revision_vid, body .published_vid {
	    font-size: 12px;
	}
}



@media screen and (max-width: 785px) {
    body #vb3 .video_item {
	    margin-right: 13px;
	}
}



@media screen and (max-width: 768px) {
    .sity_name {
	    margin: 10px auto 0;
	    float: none !important;
	    width: 100%;
	}
	body .jq-selectbox.jqselect.top_select {
	    width: 93%;
	}
	.video_box {
	    width: 100%;
	    margin-top: 50px;
	    padding: 0 0 0 30px;
	}
	body .video_item {
	    width: 47%;
	    height: auto;
	    min-height: 50%;
	    margin-right: 14px;
	    margin-bottom: 10px;
	}
	#main_sl .video_img {
	    margin: 0 auto;
	    text-align: center;
	}
	.video_img {
	    display: block;
	    width: 100%;
	}
	.reklam_box_r, .reklam_box_l {
	    width: 80%;
	    background-size: 40%;
	}
	.footer {
	    text-align: center;
	}
	.fot_logo {
	    text-align: center;
	    float: none !important;
	    margin: 15px auto 5px;
	}
	body .fot_nav a {
	    font-size: 15px;
	}
	.fot_nav {
	    padding-top: 15px;
	    float: none !important;
	    margin: 0 auto;
	    text-align: center;
	    display: table;
	}
	.fot_copy {
	    float: none !important;
	    margin: 10px auto;
	    text-align: center;
	    display: inline-block;
	}
	.enter_box, .reg_box {
	    display: none;
	}
	.top_authentication {
	    margin-right: 0;
	}
	.reg_box_mob:before {
	    margin-right: 15px;
	}
	.enter_box_mob:before {
	    margin-right: 15px;
	}
	.user_top_box {
	    width: 100%;
	    margin: 15px auto 0;
	}
	.box_auth_mob img {
	    margin: 0 15px 0 0;
	    display: block;
	    float: left;
	}
	.top_logo {
	    width: auto;
	}
	.top_logo img {
	    width: 100%;
	    display: block;
	}
	.top_sb {
	    background-size: inherit;
	}
	.box_auth_mob {
	    position: absolute;
	    right: 0;
	    top: 12px;
	    display: block;
	    z-index: 999;
	}
	body .serch_wr {
	    margin-top: 15px;
	    padding: 0 25px;
	}
	body .profession_box .profession_more {
	    margin: 5px auto 0;
	    padding: 4px 49px;
	    border: 1px solid #000;
	    border-radius: 2px;
	    font-size: 14px;
	    float: none !important;
	}
	body .categoty_box .profession_more {
	    margin: 0 auto;
	    float: none !important;
	}
	body .all_right_mob {
	    display: block;
	}
	.vs_box_content_Left {
	    width: 100%;
	    float: none !important;
	    clear: both;
	}
	.vs_box_content_Right {
	    width: auto;
	    float: left !important;
	    clear: both;
	    margin-top: 30px;
	}
	body .vs_fav {
	    display: none !important;
	}
	body .vs_fav.dn_n {
	    display: block !important;
	    margin: 0;
	    padding: 4px 19px;
	    border: 1px solid #000;
	    border-radius: 2px;
	    text-decoration: none !important;
	}
	.vs_box_top_nav li:first-child {
	    margin: 0 0 0 0;
	}
	body .vs_fav:before {
	}
	.vs_box_top_nav li {
	    margin: 7px 0 0 0;
	    clear: both;
	}
	.vs_box_top_nav li:before {
	    display: none;
	}
	.vs_box_hiden {
	    float: left !important;
	    padding: 0;
	    margin: 0 0 0 90px;
	}
	.master_box_item .video_box {
	    padding: 0 0;
	    box-sizing: border-box;
	    width: 94.8%;
	    margin: 0 auto 0 !important;
	}
	.master_box_item .video_item {
	    margin: 0 auto 0;
	    float: none;
	}
	.want_to_line {
	    margin-right: 24px;
	}
	.master_box_item {
	    margin-bottom: 19px;
	}
	.top_authentication .enter_box, .top_authentication .reg_box {
	    display: none !important;
	}
	.sl_contr_btn_wrap {
	    width: 95%;
	    margin: 14px auto 0;
	}
	body .sl_contr_btn {
	    margin-bottom: 0;
	}
	body .cat_box_right {
	    width: 100%;
	}
	body #vb3.video_box {
	    width: 95%;
	    padding: 0 !important;
	    margin: 0 auto !important;
	}
	body #vb3 .video_item {
	    width: 48.9%;
	    margin-right: 13.8px;
	}
	body .category_content {
	    padding: 0;
	}
	body .cat_box_left {
	    width: 94.8%;
	    float: none !important;
	    margin: 0 auto 52px;
	}
	body .cat_box_left li a, body .cat_box_left a span {
	    font-size: 16px;
	}
	.cat_box_left li ul.hider_content_nav {
	    left: 19px;
	    top: -1px;
	    width: 94.6%;
	    margin: 0;
	    border: 0;
	    overflow: hidden;
	}
	.cat_nav_aft:after {
	    display: none !important;
	}
	ul.hider_content_nav {
	    width: auto;
	}
	.cat_nav_owerlay {
	    display: none;
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: auto;
	    min-height: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	    z-index: 999;
	}
	.ns {
	    overflow-y: hidden;
	}
	#nav_anker_box {
	    width: 100%;
	    height: 1px;
	    background-color: transparent;
	}
	.cat_box_left li:hover ul.hider_content_nav {
	    display: none;
	}
	.login_on_box {
	    display: none;
	}
	.reg_box_mob img, .enter_box_mob img {
	}
	body #id_cont .user_box_text_input span, #id_cont .user_box_text_input:hover span {
	    display: none !important;
	}
	body .change_btn {
	    display: none;
	}
	body .change_btn.dn_n {
	    display: block !important;
	    margin: 5px 9px 0 0;
	    text-transform: uppercase;
	}
	.id_user_box_text:hover span, #id_cont .id_user_box_text:hover span {
	    display: none !important;
	}
	body .revision_vid, body .published_vid {
	    font-size: 14px;
	}
	body #vb4.video_box {
	    padding: 0;
	}
	body #vb4 .video_item {
	    width: 49%;
	}
	body #vb4 .video_item:nth-child(2n) {
	    margin-right: 0px !important;
	}
	body #vb4 .video_item:nth-child(3n) {
	    margin-right: 7px;
	}
	body .revision_vid {
	    left: 5px;
	}
	body .published_vid {
	    right: 5px;
	}
	.video_upload p {
	    width: 60%;
	}
}



@media screen and (max-width: 700px) {
    body .box-modal {
	    width: 90%;
	    margin: 0 auto;
	}
	.arcticmodal-conta {
	}
	#upload_win {
	}
	.up_win_art {
	    background-size: cover;
	}
	.up_win_input_box {
	    width: 100%;
	    margin: 25px auto 0 auto;
	}
	.up_win_input_box input[type="text"] {
	    width: 60% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	}
	.up_win_input_box input[type="email"] {
	    width: 60% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	}
	.up_win_input_box input[type="password"] {
	    width: 60% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	}
	body .serch_wr {
	    padding: 0 20px;
	}
	.vs_box_content_Right {
	    width: 100%;
	}
	.show_btn_box {
	    float: none !important;
	    margin: 0 auto;
	    width: 100%;
	    text-align: center;
	    background-repeat: repeat-x;
	}
	.show_btn_box:before {
	    display: inline-block;
	    float: none !important;
	    position: relative;
	    top: -3px;
	    margin-top: 0;
	}
	body #vb3.video_box {
	    box-sizing: border-box;
	}
	body #vb3 .video_item {
	    width: 48.8%;
	    margin-right: 13.7px;
	}
	body .user_box_text {
	    width: 49%;
	}
	body .user_box_text_input {
	    width: 49%;
	}
	body .user_box_text_input input[type='text'] {
	    width: 100%;
	}
	body .pass_fild input[type='text'] {
	    width: 60%;
	    float: left;
	}
	body .user_box_text_input span {
	    float: left;
	}
	.id_user_box_text {
	    display: table;
	}
	body .user_box_text, body .user_box_text_input {
	    display: inline-block;
	    vertical-align: middle;
	    float: none !important;
	}
	.inp_pass {
	    float: none !important;
	}
	.akord_cont_box li div .hide_categori_box {
	    left: -50%;
	    margin: 0;
	}
	}
	@media screen and (max-width: 614px) {
	    body .mob_top {
	    display: block;
	}
	.sl_contr_btn_wrap {
	    display: none;
	}
	body .cat_box_left li ul.hider_content_nav {
	    width: 320px;
	    margin: 0 auto;
	    left: 50%;
	    margin-left: -160px;
	}
	body ul.hider_content_nav li {
	    width: 100% !important;
	}
}



@media screen and (max-width: 600px) {
    .top_sb {
	}
	.sity_name {
	    float: right !important;
	    margin: 0;
	}
	.top_authentication {
	    width: 209px;
	    float: none !important;
	    margin: 0 auto;
	    clear: both;
	}
	.top_authentication .enter_box:before, .top_authentication .enter_box:after {
	    background-color: #fff !important;
	}
	body .video_item {
	    margin-right: 25px;
	    margin-bottom: 15px;
	    width: 47%;
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 25px;
	}
	.reklam_box_r {
	    width: 70%;
	    text-align: center;
	    background-size: 100%;
	    padding-top: 61%;
	    margin-bottom: 40px;
	    clear: both;
	    display: table;
	}
	.reklam_box_l {
	    width: 70%;
	    text-align: center;
	    background-size: 100%;
	    padding-top: 71%;
	    margin-bottom: 40px;
	    clear: both;
	    display: table;
	}
	.reklam_box_r p, .reklam_box_l p, .reklam_box_r a, .reklam_box_l a {
	    text-align: center;
	    float: none !important;
	}
	body .serch_wr {
	    padding: 0 20px;
	}
	body .reklam_text {
	    padding: 0;
	}
	body .reklam_box_r a {
	    clear: both;
	    display: table;
	    margin: 20px auto;
	    font-size: 16px !important;
	}
	body .prem:before {
	    width: 39.50%;
	    background-size: 90%;
	}
	.vs_text_box {
	}
	.vs_box_hiden {
	    width: 100%;
	    margin: 0 auto;
	}
	.vs_box_hiden ul {
	    display: table;
	    margin: 0 auto;
	    padding-left: 0;
	    border: 0;
	    width: 70%;
	}
	.video_box {
	    padding: 0 15px;
	    box-sizing: border-box;
	}
	.video_box .video_item:nth-child(2n) {
	    margin-right: 0;
	}
	.master_box_item .video_item {
	    width: 70%;
	}
	.vs_box_hiden {
	    border-top: 1px solid #88827e;
	}
	body #vb3 .video_item {
	    width: 48.5%;
	    margin-right: 13.7px;
	    min-height: 180px;
	}
	body .vedeo_art {
	    font: 13px 'proxima_nova_rgbold';
	}
	body #vb3 .vedeo_art {
	    font: 13px 'proxima_nova_rgbold';
	}
	body .revision_vid, body .published_vid {
	    font-size: 12px;
	}
	.video_upload p {
	    width: 50%;
	    font-size: 12px;
	}
	.inp_pass {
	    width: 80% !important;
	}
	.akord_cont_box li {
	    background: none !important;
	}
	.akord_cont_box li > div {
	    width: 100%;
	    float: none !important;
	    background-color: #f2f3f5;
	}
	.akord_cont_box li > div:nth-child(2n) {
	    background-color: #fff !important;
	}
	.akord_cont_box li:nth-child(2n) div {
	    background-color: #fff !important;
	}
	.akord_cont_box li:nth-child(2n) div:nth-child(2n) {
	    background-color: #f2f3f5 !important;
	}
	.akord_arr:after {
	    display: none;
	}
	.hide_categori_box ul {
	    border: 0;
	}
	.hide_categori_box {
	    width: 90%;
	    left: 0 !important;
	    right: 0 !important;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
	.akord_cont_box li div .hide_categori_box {
	    left: inherit;
	}
	.hide_categori_box ul {
	    padding: 10px 0 15px;
	    width: 100%;
	}
	.hide_categori_box ul li:first-child {
	    border-top: none;
	}
	.hide_categori_box ul li:first-child label {
	    border-top: none;
	}
	.hide_categori_box ul li {
	    border: none;
	    padding: 0 19px;
	    border-box: box-sizing;
	}
	.hide_categori_box ul li:hover {
	    background-color: #77bf53 !important;
	}
	.hide_categori_box ul li:hover .categ_labl .jq-checkbox.checked .jq-checkbox__div{
	    background-color: #77bf53 !important;
	}
	.hide_categori_box ul li:hover .categ_labl {
	    color: #fff !important;
	    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff)";
	    text-shadow: 0px 0px 2px #ffffff;
	    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff);
	}
	.hide_categori_box ul li label {
	    border-bottom: 1px dotted #cccccc;
	}
	body .jq-checkbox.checkbox {
	    float: right;
	}
	body .jq-checkbox {
	    width: 29px !important;
	    height: 22px !important;
	}
	.categ_labl .jq-checkbox.checked .jq-checkbox__div {
	    margin: 0 !important;
	    padding: 0 0 0 0 !important;
	    width: 29px;
	    height: 22px;
	    border-radius: 0;
	    border: 0;
	    background-color: #fff !important;
	    background-image: url('../img/ico/mob_check_box_ico.png') !important;
	    background-repeat: no-repeat;
	    background-position: 0 0;
	}
	.checkbox {
	    width: 29px;
	    height: 22px;
	}
	.categ_labl .jq-checkbox.checkbox {
	    margin: 5px 0 0 0 !important;
	    box-shadow: none !important;
	    background: none !important;
	    background-image: none;
	    border-radius: 0;
	    border: 0;
	}
}



@media screen and (max-width: 480px) {
    .top_logo {
            width:45%;
	    margin: 0 auto;
            margin-top:10px;
	    text-align: center;
	}
	.top_logo img {
	    margin: 5px 0 0 10px;
	    float: left;
	}
	.sity_name {
	    float: none !important;
	    margin: 5px auto;
	}
	.top_authentication {
	    margin: 10px auto;
	}
	body .profession_box a {
	    font-size: 12px;
	}
	.video_box {
	    padding: 0 15px;
	}
	.video_item {
	    width: 47.5%;
	}
	.video_item:nth-child(2n) {
	    margin-right: 0;
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 18px;
	}
	.video_img {
	    width: 100%;
	}
	.reklam_box_r {
	    width: 90%;
	    padding-top: 80%;
	}
	.reklam_box_l {
	    width: 90%;
	    padding-top: 90%;
	}
	body .reklab_art {
	}
	body .reklam_text {
	}
	body .reklam_box_l .reklam_text {
	}
	body .reklam_box_r a {
	    clear: both;
	    display: table;
	    margin: 20px auto;
	    font-size: 16px !important;
	}
	.fot_nav li:first-child {
	    margin-left: 0 !important;
	}
	body .fot_nav a {
	    font-size: 12px;
	}
	#upload_win {
	    height: auto;
	    padding: 0 0 10px 0;
	}
	.up_win_art {
	    min-height: 37px;
	}
	.up_win_art p {
	    font-size: 38px;
	}
	.up_win_input_box input[type="text"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_input_box input[type="email"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_input_box input[type="password"] {
	    width: 81% !important;
	    margin: 0 5px 10px 5px;
	    display: inline-block;
	    height: 43px;
	}
	.up_win_btn {
	    width: 80%;
	    padding: 11px 31px;
	    font-size: 24px !important;
	}
	.vs_text_box {
	}
	.vs_user_spec {
	    font: 14px 'proxima_nova_ltlight';
	    padding: 15px 0 !important;
	    clear: both;
	    border-bottom: 1px solid #88827e;
	}
	.vs_box_top_nav {
	    display: table;
	    margin: 0 auto;
	    float: none !important;
	}
	.vs_ansver_time {
	    text-align: center;
	    float: none !important;
	    margin-left: 0;
	}
	body .profession_box a > span {
	    font: 12px 'proxima_nova_ltlight';
	    padding: 0 0 0 5px;
	    display: block;
	    float: right;
	}
	body .vedeo_art {
	    font: 12px 'proxima_nova_rgbold';
	}
	body #vb3 .vedeo_art {
	    font: 12px 'proxima_nova_rgbold';
	}
	body #vb3 .video_item {
	    width: 48.3%;
	    margin-right: 13.5px;
	}
	body .user_box_text, body .user_box_text_input input[type='text'] {
	    font-size: 16px !important;
	}
	body .revision_vid {
	    left: 5px;
	    bottom: 20px;
	}
	body .published_vid {
	    left: 5px;
	    right: inherit;
	    bottom: 3px;
	}
	.ulpoad_btn {
	    padding: 13px 22px !important;
	}
	body .act_inpt {
	    width: 100% !important;
	}
	body .inp_pass {
	    width: 80% !important;
	}
}



@media screen and (max-width: 450px) {
    body .serch_wr {
	    margin: 13px auto;
	    padding: 0 15px;
	}
	.serch_box input[type='text'] {
	    font-size: 14px;
	}
	.serch_wr p {
	    font-size: 11px;
	    margin: 5px auto;
	    text-align: left;
	    display: block;
	    float: none !important;
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 17px;
	}
	body .video_item {
	    width: 47.5%;
	    margin-right: 13px;
	}
	body #vb3 .video_item {
	    width: 48%;
	    margin-right: 14.5px;
	    height: auto;
	    min-height: auto;
	}
	.categ_labl {
	    font: 14px/30px 'proxima_nova_rgregular';
	}
}



@media screen and (max-width: 400px) {
    .reklam_box_r {
	    width: 100%;
	    padding-top: 300px;
	}
	.reklam_box_l {
	    width: 100%;
	    padding-top: 99%;
	}
	body .reklam_text {
	    padding-right: 0px;
	}
	body .reklam_box_l .reklam_text {
	    padding-right: 0px;
	}
	body .top_logo {
	    width: 45%;
	    margin: 0;
	}
	body .top_logo img {
	    width: 100%;
	    margin: 15px 0 0 10px;
	}
	body .top_authentication {
	    margin: 0;
	}
	body .serch_wr {
	    padding: 0 15px;
	}
	.vs_spliter {
	    width: 100%;
	    margin: 15px auto;
	}
	body .vedeo_art {
	    font: 11px 'proxima_nova_rgbold';
	}
	body #vb3 .vedeo_art {
	    font: 11px 'proxima_nova_rgbold';
	}
	body #vb3 .vedeo_text {
	    font: 10px 'proxima_nova_rgregular';
	}
	body #vb3 .video_item {
	    width: 48%;
	    margin-right: 14.5px;
	}
	body .user_box_text, body .user_box_text_input input[type='text'] {
	    font-size: 14px !important;
	}
	body #vb4 .video_item {
	    width: 48%;
	}
	.video_upload p {
	    width: 51%;
	    font-size: 10px;
	}
	.video_upload a {
	    font: 12px 'proxima_nova_rgbold';
	}
}



@media screen and (max-width: 380px) {
    body #vb3 .video_item {
	    width: 48%;
	    margin-right: 13.6px;
	}
	body .cat_box_left li ul.hider_content_nav {
	    width: 304px;
	    margin: 0 auto;
	    left: 50%;
	    margin-left: -152px;
	}
	.categ_labl {
	    font: 12px/30px 'proxima_nova_rgregular';
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 16px;
	}
}



@media screen and (max-width: 360px) {
    .reklam_box_r {
	    width: 100%;
	    padding-top: 85%;
	}
	.reklam_box_l {
	    width: 100%;
	    padding-top: 100%;
	}
	.vb_fix .video_item:nth-child(2n+1) {
	    margin: 0 0 15px 14.5px;
	}
	body .profession_box a > span {
	    font: 12px 'proxima_nova_ltlight';
	    padding: 0.4px 0 0 5px;
	}
	.master_box_item .video_item {
	    margin: 0 auto 0;
	    width: 90%;
	    float: none;
	}
	body #vb3 .video_item {
	    width: 47.78%;
	    margin-right: 13.5px;
	}
	body .user_box_text, body .user_box_text_input input[type='text'] {
	    font-size: 12px !important;
	}
	body .inp_pass {
	    width: 75% !important;
	}
	}
	@media screen and (max-width: 320px) {
	    .wrap {
	    min-width: 320px;
	}
	body .profession_box a {
	    font-size: 10px;
	}
	body .serch_wr {
	    padding: 0 10px;
	}
}
