#nav_tabs_left li.active a {
    border-radius: 0px;
    margin: 0px;
    border: 0px;
}

#nav_tabs_left li a:hover{
    border-radius: 0px;
    margin: 0px;
    border: 0px;
}
#nav_tabs_left li a{
    border-radius: 0px;
    margin: 0px;
    border: 0px;
}
.user_box_text_input select{
    width: auto;
    font: 20px 'proxima_nova_ltlight';
    color: #323030;
    text-align: left;
    padding: 7px 0 7px 9px;
    border: 0;
    outline: none;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.choisen{
    color: white !important;
    background-color: #77bf52;
}

@media screen and (min-width: 1217px) {
    .video_img{
        min-width:292px !important;
        max-width:292px !important;
    }   
}
.avatar{
    max-height:100px !important;
    max-width:100px !important;
}
#cpecForm {
    background-image: url('../img/pop_bg.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
    height:500px;
}
.category_select{
    width: 550px;
    height: 60px;
    border: 1px solid #d6d1ce;
    font: 20px 'proxima_nova_rgregular';
    color: #645e5a !important;
    background-color: #fff;
    outline: none;
    display: block;
    padding: 0 0 0 29px;
    margin: 0 0 10px 25px;
}
@media screen and (max-width: 700px){
    .category_select{
        width: 60% !important;
        margin: 0 5px 10px 5px;
        display: inline-block;
    }
}
@media screen and (min-width: 769px){
    .selectCity{
        //max-width: 250px;
        width:250px;
    }
}

.ul_category li{
    font: 20px 'proxima_nova_ltlight';
    color: #645e5a;
    border-bottom:1px solid #f2f2f2;
}
.ul_category li:hover{
    background-color: #91d97b;
    color:white;
}
.ul_category li a:hover{
    text-decoration: none;
}

.ul_category li a{
    padding:10px 10px 10px 20px;
    display:inline-block;
    width:100%;
}

.pruklad{
    cursor:pointer;
}
.del_vid{
    width:32px;
    height:32px;
    border-radius: 50% !important;
    background-color: rgba(0,0,0,0.5) !important;
    /*background-color: black !important;*/
    padding: 2px 5px !important;
    z-index:99 !important;
}

.selectCity{
    outline: none;
    min-width:200px;
    display: inline-block;
    border-radius:5px;
    color:white;
    z-index:9999999;
    background: url('../../../img/loc_pointer_w.png') left center no-repeat, url('../../../img/selection_arr_rw.png') right center no-repeat, rgba(255,255,255,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    padding:7px 30px;
    /*outline: 5px #ffffff;*/
    /*border:6px solid white;*/
    /*box-shadow:0px 0px 1px 1px grey;*/
    font: 20px/18px 'proxima_nova_rgregular';
    border: 0;
    border-bottom: 1px dotted white;
}
.selectCity option{
    color: black;
}
.box_category_list{
 position:relative;left:0;top:44px;z-index:999;border: 1px solid #b9b2ad;background-color:white;position:absolute;width:100%;   
}
@media screen and (max-width: 768px){
    .selectCity{
        width:100%;
        border-radius:5px;
        color:black;
        z-index:9999999;
        background: url('../../../img/loc_pointer.png') left center no-repeat, url(../../../img/selection_arr_r.png) right center no-repeat, white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:7px 30px;
        outline: 5px #ffffff;
        border:6px solid white;
        box-shadow:0px 0px 1px 1px grey;
        font: 20px/18px 'proxima_nova_rgregular';
    }
    .user_top_box{
        padding:0 22px;
    }
}
.tooltipDesign + .tooltip > .tooltip-inner {
    background-color: #77bf52 !important;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 15px;
    z-index:999;
    max-width: 350px;
    width: 100%;
}
 .tooltipDesign.bottom >.tooltip-inner {
}
  /* Tooltip on top */
  .tooltipDesign + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .tooltipDesign + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid green;
  }
  /* Tooltip on left */
  .tooltipDesign + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid green;
  }
  /* Tooltip on right */
  .tooltipDesign + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid green;
  }
  .published_vid {
    padding: 3px 11px;
    background-color: rgba(0, 0, 0, 0.5);
    font: 14px 'proxima_nova_rgregular';
    color: #fff !important;
    position: absolute;
    bottom: 0px !important;
    right: 0px !important; 
    display: inline-block;
    width: 100%;
    text-align: right;
    border-top:1px solid transparent;
  }
  
  .published_vid:before{
      display:inline-block  !important;
      float:none !important;
  }
  .address_city_list{
      position:absolute;
      max-width:300px;
      min-width:220px;
      max-height:200px;
      border:2px solid #f2f2f2;
      background-color:white;
      overflow-y: scroll;
      overflow-x: hidden;
  }
/*  .address_city_list li{
      padding:5px;
      border-bottom:1px solid grey;
  }*/
.address_city_list li{
    padding:2px 10px;
    font: 20px 'proxima_nova_ltlight';
    color: #645e5a;
    border-bottom:1px solid #f2f2f2;
}
.address_city_list li:hover{
    background-color: #91d97b;
    color:white;
}
.address_city_list li a:hover{
    text-decoration: none;
}

.address_city_list li a{
    padding:10px 10px 10px 20px;
    display:inline-block;
    width:100%;
}
.breadcrumbMy{
    width: 1200px;
    margin: 0px auto 0 auto;
    text-align: left;   
}
@media screen and (max-width: 768px){
    .favoriteClass{
        display:none;
    }
}

@media screen and (max-width: 768px){
    .breadcrumbMy {
        margin-top: 15px;
        padding: 0 25px;
    }
}

@media screen and (max-width: 1216px){
    .breadcrumbMy {
        width: 100%;
        padding: 0 20px;
    }
}
#scrollUp {
    background-color:transparent !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}
.serch_box {
    padding: 11px 0 6px 19px !important;
    
}
.profession_box {
    margin-bottom: 20px !important;
}
.favoriteA{
    position:relative;
}
.favoriteClassM{
    position:relative;
    margin-right:13px !important;
    margin-left:0px;
    width:20px;
}
.favoriteClass{
    position:relative;
    margin-top: 10px;
    margin-right:13px !important;
    margin-left:0px;
}

.countFavorite{
    background-color:#D8EDD2;
    border:1px solid #58ae2c;
    position:absolute;
    top:-6px;
    right:-6px;
    width:19px;
    height:19px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    color:#58ae2c;
    font-size:12px;
}
.userCount{
    position:absolute;
    left:288px;
    top:150px;
    text-align:center;
    max-width:130px;
}
.userCount p{
    margin-top:-5px;
}
.recpmendationDivStyle{
    background: url('../../../../img/recomendatio_fon.png') no-repeat;
    background-size: cover;
}
.recomendationTextBlockOne{
    padding-top:5%;
    padding-bottom:5%;
}
.recomendationTextBlockTwo{
    padding-top:5%;
    padding-bottom:5%;
}
.recomendationTextBlockThree{
    font-size:16px;
    color:white;
    padding-top:10%;
    padding-bottom:5%;
}
.recomendationTextBlockFoure{
    color:#9eff7e;
    padding-bottom:20%;
}
.recomendationBacgroundInput{
    background-color: rgba(81, 249, 98, 0.5);
    border:0px;
    color:white;
    border-radius: 0px;
    margin-bottom:10px;
}

.recomendationBacgroundInput::-webkit-input-placeholder
{
  color:white;
}

.recomendationBacgroundInput:-moz-placeholder 
{
  color:white;
}

.recomendationBacgroundInput::-moz-placeholder 
{
  color:white;
}

.recomendationBacgroundInput:-ms-input-placeholder 
{
  color:white;
}