/* Eric Meyer's CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}



/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	/*font: 12px/18px Arial, sans-serif;*/
	height: 100%;
	background-color: #fff;
}


































html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, input, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    height: 100%;
    background-color: #fff;
}
.wrap {
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-bottom: 101px;
}
.top_sb {
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/t_nav_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.top_sb_box {
    width: 1200px;
    margin: 0 auto;
    min-height: 60px;
    text-align: center;
    position: relative;
}
.top_logo {
    width: 31%;
    margin: 5px 0 0 0;
    text-align: left;
}
.user_top_box {
    margin: 0 auto;
    width: auto;
    display: table;
}
.sity_name {
    display: inline-block;
    width: auto;
    position: relative;
    margin: 10px 20px 0 0;
    color: #fff;
    box-sizing: border-box;
}
.top_select {
    position: relative;
}
.jq-selectbox {
    outline: none;
}
.jq-selectbox:before {
    content: '';
    width: 19px;
    height: 29px;
    float: left;
    margin: 6px 12px 0 6px;
    background-image: url('../img/loc_pointer.png');
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
body .jq-selectbox.jqselect.top_select {
    min-width: 255px;
}
body .jq-selectbox__select {
    height: 40px;
    margin: 0;
    border: 0 !important;
    box-shadow: none !important;
    border: 1px solid #c6c6c6 !important;
    padding: 0 45px 0 30px;
}
body .jq-selectbox__select-text {
    width: auto !important;
    cursor: pointer;
    text-align: left;
    font: 20px/18px 'proxima_nova_rgregular';
    margin: 11px 16px 0 3px;
}
.jq-selectbox__dropdown {
    float: left;
    width: 100% !important;
    cursor: pointer;
    background-image: url('../img/t_nav_bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9px;
    box-sizing: border-box;
}
.jq-selectbox__dropdown ul {
    text-align: left;
    overflow-y: hidden !important;
}
body .jq-selectbox__dropdown li {
    width: 100%;
    text-align: left;
    background-color: #F2F2F2;
    font: 20px/23px 'proxima_nova_rgregular';
    margin: 0 0 0 0;
    display: inline-block;
}
.jq-selectbox__dropdown li:hover {
    text-align: left;
}
.jq-selectbox__dropdown li:first-child {
    border: 0px none #ffffff;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jq-selectbox__dropdown li: last-child {
    border: 0px none #ffffff;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.jq-selectbox__trigger {
    position: absolute;
    border: 0 !important;
    top: 0;
    right: 0;
    width: 11px;
    height: 100%;
}
body .jq-selectbox__trigger-arrow {
    position: absolute;
    width: 15px !important;
    height: 17px !important;
    background-image: url('../img/selection_arr_r.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none !important;
    top: 16px;
    right: 5px;
    background-size: contain;
}
.top_authentication {
    margin: 10px 16px 0 0;
}
.top_authentication a:hover {
    text-decoration: none;
}
.top_authentication .enter_box {
    float: left;
    color: #fff;
    margin: 0 0 0 0;
    display: block !important;
    font: 18px/42px 'proxima_nova_ltsemibold';
}
.top_authentication .enter_box:hover,.top_authentication .reg_box:hover {
    color: #EAE6E6;
}
.top_authentication .enter_box:before {
    content: '';
    width: 1px;
    height: 40px;
    float: left;
    background-color: #aad292;
    margin: 0 20px 0 0;
}
.top_authentication .enter_box:after {
    content: '';
    width: 1px;
    height: 40px;
    float: right;
    background-color: #aad292;
    margin: 0 0 0 20px;
}
.top_authentication .reg_box {
    float: left;
    color: #fff;
    margin: 10px 0 0 18px;
    display: block !important;
    font: 18px 'proxima_nova_ltsemibold';
}
.reg_box_mob {
    display: block !important;
}
.enter_box_mob {
    display: block !important;
}
.reg_box_mo:before, .enter_box_mob:before {
    content: '';
    width: 1px;
    height: 40px;
    float: left;
    background-color: #aad292;
    margin: 0 20px 0 0;
}
.box_auth_mob {
    display: none;
}
.serch_wr {
    width: 1200px;
    margin: 40px auto 0 auto;
    text-align: left;
}
.serch_box {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 13px 19px;
    text-align: left;
    border: 1px solid #b9b2ad;
    background-color: #fff;
    position: relative;
}
.serch_box input[type='text'] {
    color: #645e5a;
    font: 16px 'proxima_nova_ltlight';
    width: 90%;
    padding: 0 0 0 0;
    border: 0;
    outline: none;
}
.serch_box input: : -moz-placeholder {
    color: #645e5a;
}
.serch_box input: : -webkit-input-placeholder {
    color: #645e5a;
}
.serch_box input: : -moz-placeholder {
    color: #645e5a;
}
.serch_box input: -moz-placeholder {
    color: #645e5a;
}
.serch_box input: -ms-input-placeholder {
    color: #645e5a;
}
.serch_box button {
    position: absolute;
    top: 11px;
    right: 15px;
    width: 23px;
    height: 28px;
    background-image: url('../img/serch_ico.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}
.serch_wr p {
    color: #645e5a;
    margin: 9px 0 0 20px;
    font: 14px 'proxima_novaregular_italic';
}
.serch_wr span {
    text-decoration: underline;
}
.profession_box {
    width: 1200px;
    margin: 35px auto 0 auto;
    text-align: center;
}
.profession_box ul {
    position: relative;
    display: table;
    table-layout: fixed;
}
.profession_box li {
    float: left;
    display: table-cell;
    margin: 0 12px 10px 0;
}
body .profession_box a {
    box-sizing: border-box;
    display: block;
    padding: 4px 19px 4px 19px;
    border-radius: 3px;
    font: 16px 'proxima_nova_ltsemibold';
    color: #645e5a;
    background-color: #e4e5e9;
    border: 1px solid #e4e5e9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.profession_box a:hover {
    color: #fff;
    background-color: #72b94d;
    text-decoration: none;
    border: 1px solid #a0d971;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";
    -moz-box-shadow: 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: 1px 1px 2px #d4d4d4;
    box-shadow: 1px 1px 2px #d4d4d4;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4);
}
.cat_actv {
    color: #fff !important;
    background-color: #72b94d !important;
    text-decoration: none !important;
    border: 1px solid #a0d971 !important;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";
    -moz-box-shadow: 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: 1px 1px 2px #d4d4d4;
    box-shadow: 1px 1px 2px #d4d4d4;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4);
}
body .profession_box .profession_more {
    margin: 5px 0 0 11px;
    padding: 0;
    border-radius: 0;
    display: inline-block;
    font: 16px 'proxima_nova_rgregular';
    color: #645e5a;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
}
body .profession_box .profession_more:hover {
    color: #645e5a;
    background-color: #fff;
    box-shadow: none;
}
.reklam_wr {
    width: 1216px;
    margin: 0 auto;
}
.reklam_box_r {
    width: 599px;
    min-height: 300px;
    text-align: left;
    margin: 62px 0 0 0;
    position: relative;
    background-position: 99% top;
    background-repeat: no-repeat;
}
body .reklam_box_r:after {
    width: 1px;
    height: 250px !important;
    content: '';
    position: absolute;
    top: 12px;
    right: 0;
    float: right;
    visibility: visible;
    background-color: #e4e5e9;
}
.reklab_art {
    font: 48px 'BebasNeueBook';
    color: #645e5a;
    padding: 0 0 6px 4px;
    text-transform: uppercase;
}
.reklam_text {
    font: 20px 'proxima_nova_ltlight';
    color: #645e5a;
    padding: 0 270px 11px 2px;
}
body .reklam_box_r a {
    position: relative;
    display: inline-block;
    font: 16px 'proxima_nova_rgregular';
    color: #53a13a;
    float: left;
    clear: both;
    padding: 0 0 0 4px;
    text-decoration: underline;
}
body .reklam_box_r a:after {
    content: '';
    width: 22px;
    height: 7px;
    position: absolute;
    margin: 7px 0 0 6px;
    background-image: url('../img/arr_right.png');
    background-position: right top;
    background-repeat: no-repeat;
}
body .reklam_box_r a:hover {
}
body a.reklam_btn {
    border-radius: 3px;
    text-transform: uppercase;
    font: 30px 'BebasNeueRegular';
    color: #fff;
    margin: 20px 0 0 0;
    padding: 6px 39px;
    text-decoration: none;
    background-image: url('../img/bnt_bg1.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #72b94d;
    text-decoration: none;
    border: 1px solid #a0d971;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";
    -moz-box-shadow: 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: 1px 1px 2px #d4d4d4;
    box-shadow: 1px 1px 2px #d4d4d4;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4);
}
body a.reklam_btn:hover {
    opacity: 0.88;
}
body a.reklam_btn:after {
    content: none;
    display: none;
}
#upload_win, #entr_win {
    background-image: url('../img/pop_bg.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
}
body #entr_win.box-modal {
    height: auto;
    padding-bottom: 25px;
}
body #entr_win.box-modal .up_win_btn {
    margin-top: 20px;
}
.up_win_art {
    width: 100%;
    min-height: 74px;
    margin: 0 0 0 0;
    background-image: url('../img/pop_reg_bg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
}
.up_win_art p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 48px 'BebasNeueRegular';
    padding: 9px 0 0 0;
}
.up_win_input_box {
    width: 100%;
    margin: 41px 0 0 0;
}
.up_win_input_box input[type="text"], .up_win_input_box input[type="password"],  .up_win_input_box input[type="email"]{
    width: 550px;
    height: 60px;
    border: 1px solid #d6d1ce;
    font: 20px 'proxima_nova_rgregular';
    color: #645e5a !important;
    background-color: #fff;
    outline: none;
    display: block;
    padding: 0 0 0 29px;
    margin: 0 0 10px 25px;
}
.up_win_btn {
    display: inline-block;
    text-align: center;
    font: 30px 'BebasNeueRegular';
    color: #fff !important;
    border-radius: 5px;
    margin: 0px 0 0 0;
    padding: 11px 71px;
    background-image: url('../img/pop_btn_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.up_win_btn:hover {
    text-decoration: none;
    opacity: 0.88;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.up_win_reg_sn {
    text-align: center;
    font: 16px 'proxima_nova_rgregular';
    color: #645e5a !important;
    border-radius: 5px;
    margin: 12px 0 13px 0;
}
.social_box {
    position: relative;
    max-width: 260px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.social_box li:first-child {
    margin: 0 9px 0 3px;
}
.social_box li {
    margin: 0 8px 0 4px;
    float: left;
}
.social_box a {
    text-align: center;
    padding: 0 0 0 0;
}
.social_box img {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.reklam_box_l {
    width: 599px;
    min-height: 300px;
    text-align: left;
    margin: 62px 0 0 0;
    position: relative;
    background-image: url('../img/reklam_box_bg2.png');
    background-position: 105% top;
    background-repeat: no-repeat;
}
body .reklam_box_l .reklab_art {
    font: 48px 'BebasNeueBook';
    color: #645e5a;
    padding: 0 0 6px 4px;
    text-transform: uppercase;
}
body .reklam_box_l .reklam_text {
    font: 20px 'proxima_nova_ltlight';
    color: #645e5a;
    padding: 0 0 17px 5px;
}
body .reklam_box_l a {
    position: relative;
    display: inline-block;
    font: 16px 'proxima_nova_rgregular';
    color: #53a13a;
    float: left;
    clear: both;
    padding: 0 0 0 7px;
    text-decoration: underline;
}
body .reklam_box_l a:after {
    content: '';
    width: 22px;
    height: 7px;
    position: absolute;
    margin: 7px 0 0 9px;
    background-image: url('../img/arr_right.png');
    background-position: right top;
    background-repeat: no-repeat;
}
body .reklam_box_l a:hover {
}
body .reklam_box_l a.reklam_btn {
    border-radius: 3px;
    text-transform: uppercase;
    font: 30px 'BebasNeueRegular';
    color: #fff;
    margin: 20px 0 0 0;
    padding: 6px 39px;
    text-decoration: none;
    background-image: url('../img/bnt_bg1.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #72b94d;
    text-decoration: none;
    border: 1px solid #a0d971;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";
    -moz-box-shadow: 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: 1px 1px 2px #d4d4d4;
    box-shadow: 1px 1px 2px #d4d4d4;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4);
}
body .reklam_box_l a.reklam_btn:hover {
    opacity: 0.88;
}
body .reklam_box_l a.reklam_btn:after {
    content: none;
    display: none;
}
.video_box {
    width: 1216px;
    margin: 0px auto 0 auto;
    box-sizing: border-box;
    //border-bottom: 1px solid #645e5a;
    text-align: center;
    position: relative;
}
.video_box_art {
    font: 30px 'bebas_neuebold';
    color: #645e5a;
    padding: 0 0 26px 0;
    text-align: left;
    text-transform: uppercase;
}
.video_item {
    float: left;
    box-sizing: border-box;
    position: relative;
    margin: 0 11px 13px 0;
}
.video_link {
    display: block !important;
    text-align: left;
    margin-bottom: 3px;
    z-index: 999;
    outline: none !important;
    text-decoration: none !important;
}
.video_link:hover {
    text-decoration: none !important;
}
.video_img {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-filter: grayscale(0.6);
    -moz-filter: grayscale(0.6);
    -ms-filter: grayscale(0.6);
    -o-filter: grayscale(0.6);
    -webkit-filter: grayscale(0.6);
    filter: grayscale(60%);
}
.video_link:hover .video_img {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.vedeo_art {
    text-transform: uppercase;
    font: 14px 'proxima_nova_rgbold';
    color: #645e5a;
    padding: 9px 0 0 10px;
}
.vedeo_text {
    font: 14px 'proxima_nova_rgregular';
    color: #645e5a;
    padding: 0 0 0 11px;
}
.prem:before {
    display: none !important;
    content: '';
    float: left;
    width: 103px;
    height: 48px;
    position: absolute;
    z-index: 9999;
    top: 7px;
    left: -8px;
    background-image: url('../img/prem_bg.png');
    background-position: left top;
    background-repeat: no-repeat;
}
body .show_more_video_btn {
    text-align: center;
    display: table;
    margin: 23px auto 28px auto;
    padding: 4px 19px 4px 19px;
    border: 1px solid #000;
    border-radius: 2px;
    font: 20px 'proxima_nova_rgregular';
    color: #645e5a !important;
    text-decoration: none;
}
body .show_more_video_btn:hover {
    background-color: #DCDCDB;
}
.paginatio_box {
    width: 1200px;
    margin: 19px auto 94px auto;
    box-sizing: border-box;
}
.paginatio_box ul {
    position: relative;
}
.paginatio_box li {
    float: left;
    margin: 0 3px 0 0;
}
.paginatio_box a {
    display: block;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0 0 0 0;
    font: 16px 'proxima_nova_rgregular';
    color: #645e5a !important;
    border: 1px solid #645e5a;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.paginatio_box a:hover {
    color: #fff !important;
    background-color: #645e5a;
    text-decoration: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
body .pagin_actv {
    color: #fff !important;
    background-color: #645e5a;
    text-decoration: none;
}
body .pagin_text {
    font: 14px 'proxima_nova_rgregular';
    padding: 0 17px;
    width: auto !important;
    color: #fff !important;
    background-color: #645e5a;
    text-decoration: none;
}
.video_singl_box {
    width: 1200px;
    margin: 25px auto 0;
}
.video_singl_wrap {
    width: 100%;
    min-height: 650px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video_singl_box iframe,.videoWrapper object, .videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vs_box_content {
    width: 100%;
    margin: 30px 0 0 0;
    overflow: hidden;
}
.vs_box_content_Left {
    width: 73.34%;
    margin: 0 0 0 0;
    position: relative;
}
.vs_box_content_Right {
    width: 26.66%;
    margin: 0 0 0;
    position: relative;
}
.vs_box_content_Right a:hover {
    text-decoration: none !important;
}
.show_btn_box {
    font: 30px 'BebasNeueRegular';
    color: #fff !important;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    float: right;
    opacity: 1;
    margin: 0;
    padding: 15px 39px 16px 33px;
    text-decoration: none;
    background-image: url('../img/bnt_bg2.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #72b94d;
    text-decoration: none;
    border: 1px solid #a0d971;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4)";
    -moz-box-shadow: 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: 1px 1px 2px #d4d4d4;
    box-shadow: 1px 1px 2px #d4d4d4;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#d4d4d4);
}
.show_btn_box:hover {
    opacity: 0.88;
}
.show_btn_box:before {
    content: '';
    width: 27px;
    height: 17px;
    float: left;
    margin: 10px 9px 0 1px;
    background-image: url('../img/btn_eye.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.vs_box_hiden {
    margin: 0;
    display: none;
}
.vs_box_hiden ul {
    padding: 11px 0 5px 20px;
    box-sizing: border-box;
    border-left: 1px solid #88827e;
}
.vs_box_hiden li:first-child {
    margin: 0 0 9px 0;
}
.vs_box_hiden li:first-child a {
    font: 24px/25px 'BebasNeueRegular';
    color: #404040 !important;
    padding: 0 0 0 0;
}
.vs_box_hiden li:first-child img {
    float: left;
    margin: 3px 6px 0 9px;
    padding: 0;
}
.vs_box_hiden li {
    float: left;
    clear: both;
    margin: 1px 0 0 8px;
}
.vs_box_hiden a {
    font: 16px 'proxima_nova_rgregular';
    color: #88827e !important;
    padding: 0 0 0 0;
    display: block;
    width: auto;
    height: 24px;
    text-align: center;
    float: left;
}
.vs_box_hiden a:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    height: 21px;
}
.vs_box_hiden a img {
    display: inline-block;
    vertical-align: middle;
    float: left;
    padding: 0 8px 0 0;
}
.vs_box_hiden li > span {
    float: left;
    display: block;
}
.vs_avatar {
    margin: 0 0 0 0;
    overflow: hidden;
    border-radius: 4px;
}
.vs_avatar a {
    display: block;
}
.vs_avatar img {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.vs_text_box {
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.vs_text_box p {
    padding: 0 0 0 90px;
}
.vs_user_name {
    font: 36px/26px 'proxima_nova_rgregular';
    padding: 0;
    color: #202020;
    text-align: left;
    margin: 0 0 5px 0px;
}
.vs_user_jobs {
    font: 16px 'proxima_nova_rgregular';
    padding: 0 0 8px 0;
    color: #202020;
    text-align: left;
}
.vs_user_spec {
    font: 14px 'proxima_nova_ltlight';
    padding: 0;
    text-align: left;
    color: #88827e;
    margin: 10px 0 0 1px;
}
.vs_box_top_nav {
    margin: 10px auto 0;
    position: relative;
}
.vs_box_top_nav li {
    float: left;
    margin: 0 0 0 20px;
    text-align: left;
    font: 16px 'proxima_nova_rgregular';
    color: #88827e;
}
.vs_box_top_nav li:first-child {
    margin-left: 0;
}
.vs_box_top_nav li:first-child:before {
    display: none;
}
.vs_box_top_nav li:before {
    content: '';
    width: 1px;
    height: 16px;
    margin: 3px 20px 0 0;
    float: left;
    background-color: #88827e !important;
}
body .vs_fav {
    display: block;
    color: #88827e !important;
    text-decoration: underline !important;
}
body .vs_fav:before {
    content: '';
    width: 16px;
    height: 15px;
    float: left;
    margin: 1px 7px 0 0;
    background-image: url("../img/fav_star.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

body .vs_fav_active {
    display: block;
    color: #88827e !important;
    text-decoration: underline !important;
}
body .vs_fav_active:before {
    content: '';
    width: 16px;
    height: 15px;
    float: left;
    margin: 1px 7px 0 0;
    background-image: url("../img/fav_star_active.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.vs_spliter {
    width: 205px;
    height: 1px;
    clear: both;
    margin: 12px 0 9px 0;
    background-color: #88827e;
}
.vs_ansver_time {
    font: 14px 'proxima_nova_rgregular';
    color: #61b150;
    padding: 0 0 0 0;
}
.category_box .video_box {
    margin: 0 auto 0;
    border-bottom: 0 !important;
}
body .profession_box a > span {
    font: 14px 'proxima_nova_ltlight';
    padding: 0 0 0 0;
}
.master_box {
    width: 1216px;
    margin: 0 auto 0;
}
body .category_box_art {
    margin: 0 auto;
    text-align: center;
    padding: 87px 0 7px 0;
    display: block;
    font: 36px 'BebasNeueRegular';
    color: #333;
}
.want_to_line {
    font: 16px 'proxima_nova_rgregular';
    padding: 0 0 0 0;
    margin: 0 18px 7px 0;
    color: #a4a5aa !important;
    clear: both;
    border-bottom: 1px solid #a4a5aa;
}
.want_to_line:hover {
    text-decoration: none !important;
}
.master_box_item {
    width: 100%;
    margin: 0 auto 0;
    clear: both;
}
.master_box_item .video_box {
    box-sizing: border-box;
    padding: 0;
}
.master_box_item .video_box:last-child {
    margin-right: 0;
}
.sl_contr_btn_wrap {
    width: 98.8%;
    text-align: center;
    position: relative;
    background-image: url('../img/sl_contr_btn_wrap_bg.jpg');
    background-repeat: repeat-x;
    background-position: 0 9px;
}
.sl_contr_btn {
    width: 52px;
    background-color: #fff;
    display: inline-table;
    margin: 0 auto 19px;
}
.btn_arr_left {
    width: 18px;
    height: auto;
    margin: 0 0 0 0;
    cursor: pointer;
}
.btn_arr_right {
    width: 18px;
    height: auto;
    margin: 0 0 0 0;
    cursor: pointer;
}
.btn_split {
    width: 16px;
    margin: 0 auto;
}
.mob_top {
    display: none;
    margin: 0 auto 23px !important;
    width: 254px !important;
    background-position: 0 14px;
}
.mob_top .btn_arr_left {
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
}
.mob_top .btn_arr_right {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
}
.sl_box_size {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 7px;
}
.sl_box_size p {
    display: inline-block;
    font: 24px 'proxima_nova_rgregular';
    padding: 0 4px 0 7px;
}
.sl_box_size span {
    display: inline-block;
    font: 16px 'proxima_nova_rgregular';
    padding: 0 0 0 0;
}
p.currentItem {
    padding: 0;
}
p.currentItem span {
    font: 24px 'proxima_nova_cn_rgbold';
}
p.owlItems {
    padding: 0;
}
p.owlItems span {
    font: 24px 'proxima_nova_ltlight';
}
.category_content {
    width: 1216px;
    margin: 0 auto;
}
.cat_box_left {
    width: 290px;
    margin: 0;
}
.cat_box_left ul {
    margin: 0;
    position: relative;
}
.cat_box_left li:first-child {
    border-bottom: 0;
    border-top: 1px solid #e4e5e9;
}
.cat_box_left li {
    border-top: 1px solid #e4e5e9;
    border-right: 1px solid #e4e5e9;
    border-left: 1px solid #e4e5e9;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat_box_left li:last-child {
    border-bottom: 1px solid #e4e5e9;
}
.cat_box_left li a {
    text-decoration: none !important;
    display: block;
    text-align: left;
    padding: 15px 29px 14px 10px;
    box-sizing: border-box;
    color: #333333 !important;
    font: 16px 'proxima_nova_rgregular';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat_box_left a span {
    font: 16px 'proxima_nova_ltlight';
    color: #b6b7bd !important;
    text-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cat_box_left li:hover {
    border-top: 1px solid #77bf52;
    border-right: 1px solid #77bf52;
    border-left: 1px solid #77bf52;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.cat_box_left li:hover a {
    text-decoration: none !important;
    background-color: #77bf52;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff)";
    text-shadow: 0px 0px 2px #ffffff;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#ffffff);
    color: #fff !important;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    position: relative;
}
.cat_box_left li:hover a span {
    text-shadow: none;
}
.cat_nav_aft:after {
    content: '';
    width: 10px;
    height: 49px;
    padding: 0 0 0 0;
    visibility: visible;
    background-image: url('../img/nav_arr_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 30%;
    right: -12px;
    z-index: 99999;
    display: none;
}
.cat_box_left li:hover span {
    color: #fff !important;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.hider_content_nav {
    width: 894px;
    display: none;
    border-left: 5px solid #77bf52;
    background-color: pink;
}
.hider_content_nav li:after {
    display: none !important;
}
.cat_box_left li:hover ul.hider_content_nav {
    display: block;
}
.cat_box_left li:hover:after {
    display: block;
}
 .cat_box_left li ul.hider_content_nav {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 9999999;
    background-color: #fff;
    padding: 0 0 30px 0;
    margin: -1px 0 0 12px;
    box-sizing: border-box;
}
.cat_box_left li ul.hider_content_nav a:after {
    display: none;
}
.x2 {
    display: none}
.cat_box_left li:hover .hider_content_nav a {
    background-color: #fff !important;
    color: #333333 !important;
    font: 16px 'proxima_nova_rgregular';
}
ul.hider_content_nav li {
    width: 412px;
    float: left;
    border: none !important;
    box-sizing: border-box;
    margin: 0 0 0 8px;
}
ul.hider_content_nav li {
    border-bottom: 1px dotted #e4e5e9 !important;
}
ul.hider_content_nav li:last-child {
    border-bottom: 1px dotted #e4e5e9 !important;
}
.cat_box_left li:hover .hider_content_nav li:hover a {
    background-color: #e4e5e9 !important;
    color: #333333 !important;
}
.cat_box_left li:hover ul.hider_content_nav li a {
}
.cat_box_left li:hover ul.hider_content_nav li a span {
    font: 16px 'proxima_nova_rgregular';
    color: #b6b7bd !important;
}
.cat_box_left li:hover ul.hider_content_nav li:hover span {
    color: #333333 !important;
}
body ul.hider_content_nav a {
    text-decoration: none !important;
    display: block;
    text-align: left;
    padding: 9px 0px 9px 18px !important;
    box-sizing: border-box;
    color: #333333 !important;
    font: 16px 'proxima_nova_rgregular';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff !important;
}
ul.hider_content_nav li:hover a {
}
.cat_box_right {
    width: 913px;
    margin: 0;
}
body #vb3.video_box {
    width: auto;
    border-bottom: 1px solid #645e5a !important;
}
.cat_box_right .paginatio_box {
    width: 100%;
    margin: 19px auto 0 auto;
}
body .pers_cab_box {
    margin-top: 25px;
}
.login_on_box {
    margin: 0 0 0 0;
}
.login_on_box:before {
    content: '';
    width: 1px;
    height: 40px;
    float: left;
    background-color: #aad292;
    margin: 0 20px 0 0;
}
.login_on_box p {
    font: 18px 'proxima_nova_ltsemibold';
    color: #fff !important;
    float: left;
    padding: 10px 0 0 0;
}
.login_on_box p a {
    color: #fff !important;
    text-decoration: underline;
}
.login_on_box p a:hover {
    text-decoration: underline;
}
.config_box_mob {
    margin: 10px 0 0 9px;
}
.exit_box_mob {
    margin: 10px 0 0 12px;
}
#nav_tabs_left {
    width: 289px;
    margin: 0 0 0 0;
}
#nav_tabs_left ul {
    overflow: hidden;
    position: relative;
}
#nav_tabs_left li:first-child {
    border-bottom: 0;
    border-top: 1px solid #e4e5e9;
}
#nav_tabs_left li {
    float: none;
    clear: both;
    margin: 0 auto;
    border-top: 1px solid #e4e5e9;
    border-right: 1px solid #e4e5e9;
    border-left: 1px solid #e4e5e9;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#nav_tabs_left li:hover {
    border-top: 1px solid #e4e5e9;
    border-right: 1px solid #77bf52;
    border-left: 1px solid #77bf52;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#nav_tabs_left li:last-child {
    border-bottom: 1px solid #e4e5e9;
}
#nav_tabs_left a {
    text-decoration: none !important;
    display: block;
    text-align: left;
    position: relative;
    padding: 15px 29px 14px 10px;
    box-sizing: border-box;
    color: #333333 !important;
    font: 16px 'proxima_nova_rgregular';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#nav_tabs_left a:hover {
    color: #fff !important;
    background-color: #77bf52;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#ffffff)";
    text-shadow: 0px 0px 1px #ffffff;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#ffffff);
}
#nav_tabs_left li.active {
    border-top: 1px solid #e4e5e9;
    border-right: 1px solid #77bf52;
    border-left: 1px solid #77bf52;
}
#nav_tabs_left li.active a {
    color: #fff !important;
    background-color: #77bf52;
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#ffffff)";
    text-shadow: 0px 0px 1px #ffffff;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#ffffff);
}
#nav_tabs_left a:before {
    content: '';
    width: 20px;
    height: 20px;
    float: left;
    display: block;
    margin: -1px 11px 0 8px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#nav_tabs_left li a:hover:before {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
#nav_tabs_left #tab_nav1 a:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_man.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav1 a:hover:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_man_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav1.active a:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_man_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav2 a:before {
    background-image: url('../img/ico/a_nav_ico_bag.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav2 a:hover:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_bag_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav2.active a:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_bag_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav3 a:before {
    background-image: url('../img/ico/a_nav_ico_phone.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav3 a:hover:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_phone_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav3.active a:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_phone_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav4 a:before {
    background-image: url('../img/ico/a_nav_ico_move.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav4 a:hover:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_move_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_left #tab_nav4.active a:before {
    content: '';
    background-image: url('../img/ico/a_nav_ico_move_w.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
#nav_tabs_right {
    width: 890px;
    margin: 0 0 0 0;
}
.id_user_box_top {
    width: 100%;
    margin: 0 0 0 0;
    clear: both;
    float: left;
}
.user_info_box {
    margin: 10px 0 0 0;
}
.id_user_box_top img {
    float: left;
    margin: 0 20px 0 0;
    border-radius: 3px;
}
.user_inf_name {
    font: 28.8px 'proxima_nova_rgbold';
    color: #323030;
    margin: -6px 0 6px 0;
    padding: 0 0 0 0;
    line-height: 35px;
}
.user_inf_reg {
    font: 15.3px 'proxima_nova_rgregular';
    color: #b4b4b4;
    margin: 7px 0 0 2px;
    padding: 0 0 0 0;
}
.id_user_box_bot {
    width: 100%;
    margin: 12px 0 0 0;
    clear: both;
}
.id_user_box_text {
    width: 100%;
    margin: 0 auto 0;
    border-bottom: 1px solid #d6d1ce;
}
.id_user_box_text:hover span {
    display: inline-block !important;
}
.user_box_text {
    width: 366px;
    font: 20px 'proxima_nova_rgbold';
    color: #323030;
    text-align: left;
    padding: 7px 0 7px 9px;
}
.user_box_text_input {
    margin: 0 0 0 0;
}
.user_box_text_input input[type='text'] {
    width: auto;
    font: 20px 'proxima_nova_ltlight';
    color: #323030;
    text-align: left;
    padding: 7px 0 7px 9px;
    border: 0;
    outline: none;
    background-color: #fff;
}
.user_box_text_input input[type='date'] {
    width: auto;
    font: 20px 'proxima_nova_ltlight';
    color: #323030;
    text-align: left;
    padding: 7px 0 7px 9px;
    border: 0;
    outline: none;
    background-color: #fff;
}
.inpt_stat {
    float: left !important;
}
.act_inpt {
    width: 221px !important;
    padding: 4px 0 4px 8px !important;
    margin: 2px 0;
    border: 1px solid #c6c6c6 !important;
    background-color: #f2f2f2 !important;
    border-radius: 2px !important;
}
.user_box_text_input span {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    margin: 0 0 0 -1px;
    color: #58ae2c;
    font: 16px 'proxima_nova_ltlight';
    cursor: pointer;
}
.user_box_text_input img {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    margin: 0 0 0 -1px;
    color: #58ae2c;
    font: 16px 'proxima_nova_ltlight';
    cursor: pointer;
}
.pass_fild input[type='text'] {
    width: 120px;
}
.save_btn {
    font: 18px 'proxima_nova_rgregular';
    color: #fff !important;
    background-color: #77bf52;
    border-radius: 2px;
    padding: 6px 26px 7px 28px;
    margin: 2px 0 0 24px;
}
.save_btn:hover {
    color: #fff !important;
    text-decoration: none;
    opacity: 0.88;
}
.change_btn {
    font: 18px 'proxima_nova_rgregular';
    color: #fff !important;
    background-color: #77bf52;
    border-radius: 2px;
    padding: 6px 26px 7px 28px;
    margin: 2px 0 0 24px;
}
.change_btn:hover {
    color: #fff !important;
    text-decoration: none;
    opacity: 0.88;
}
#id_cont {
}
#id_cont .user_box_text_input span {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    margin: 0 0 0 -1px;
    color: #58ae2c;
    font: 16px 'proxima_nova_ltlight';
    cursor: pointer;
}
#id_cont .id_user_box_text:hover span {
    display: inline-block !important;
}
span.triger_btn {
    display: inline-block !important;
}
body #vb4.video_box {
    width: auto;
    border-bottom: 0 !important;
}
body #vb4 .video_item {
    margin: 0 7px 10px 0;
}
body #vb4 .video_item:nth-child(3n) {
    margin-right: 0;
}
body #vb4 .video_item .video_link {
    margin-bottom: 0;
}
body #vb4 .video_item {
    height: auto !important;
    min-height: auto !important;
}
.del_vid {
    position: absolute;
    top: 10px;
    right: 9px;
    cursor: pointer;
    z-index: 9999;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}
.revision_vid {
    font: 14px 'proxima_nova_rgregular';
    color: #fff !important;
    position: absolute;
    bottom: 6px;
    left: 9px;
}
.published_vid {
    font: 14px 'proxima_nova_rgregular';
    color: #fff !important;
    position: absolute;
    bottom: 6px;
    right: 28px;
}
.published_vid:before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url('../img/ico/pup_ico.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    float: left;
    margin: 0 6px 0 0;
}
.video_upload {
    width: 100%;
    margin: 0 auto 29px;
    padding: 0 0 0 0;
    border-radius: 3px;
    border: 1px solid #d6d1ce;
}
.video_upload a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    border-radius: 3px;
    background-color: #77bf52;
    color: #fff !important;
    font: 16px 'proxima_nova_rgbold';
    padding: 13px 44px 13px 44px;
    margin: 1px 0 1px 1px;
}
.video_upload a:hover {
    text-decoration: none;
}
.video_upload p {
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    color: #b4b4b4;
    font: 15px 'proxima_nova_rgregular';
}
.akord_main_box {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #d6d1ce;
    border-bottom: 1px solid #ddd;
}
.akord_box {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff !important;
}
.akord_box:first-child p {
    border-top: 0 !important;
}
.akord_main_box p {
    position: relative;
    display: inline-block;
    font: 20px 'proxima_nova_rgbold';
    letter-spacing: -0.5px;
    text-align: left;
    color: #323030;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0 7px 10px;
    background-color: #fff;
    border-top: 1px solid #d6d1ce;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
}
.akord_box > p.active {
    color: #323030;
}
.akord_box: last-child > p.active {
    border-top: 1px solid #d6d1ce !important;
}
.akord_cont_box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    background-color: #fff;
    display: none;
}
.akord_cont_box ul {
    width: 100%;
    list-style: none;
}
.akord_cont_box li {
    width: 100%;
    float: left;
    background-color: #f2f3f5;
    text-align: left;
}
.akord_cont_box li > div {
    width: 296px;
    float: left;
    display: block;
    position: relative;
}
.akord_cont_box li:nth-child(2n) {
    background-color: #fff !important;
}
.akord_cont_box li div:hover a {
    color: #fff !important;
    background-color: #77bf52 !important;
}
.akord_cont_box a {
    display: block;
    padding: 10px 0 10px 10px;
    color: #000 !important;
    box-sizing: border-box;
    font: 16px 'proxima_nova_rgregular';
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.akord_cont_box li a:hover {
    text-decoration: none;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.akord_cont_box li div:hover .akord_arr:after {
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    right: 24px;
    background-image: url('../img/ico/triangl_tab_nav.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 10000;
}
span.art_box_open {
    float: right;
    width: 15px;
    height: 15px;
    margin: 0 19px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7.25px;
    background-image: url('../img/ico/ico_open.jpg');
    background-repeat: no-repeat;
    background-position: left top;
}
span.art_box_close {
    float: right;
    width: 15px;
    height: 15px;
    margin: 0 19px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7.25px;
    background-image: url('../img/ico/ico_close.jpg');
}
.hide_categori_box {
    width: 450px;
    height: auto;
    z-index: 9999;
    position: absolute;
    display: none;
    left: 50%;
    margin: 0 auto 0 -75%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 9px 0 0 0;
}
.akord_cont_box li div:last-child .hide_categori_box {
    left: inherit;
    right: -2px;
    margin: 0;
}
.akord_cont_box li div:hover .hide_categori_box {
    display: block !important;
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.hide_categori_box ul {
    position: relative;
    padding: 10px 19px 15px;
    box-sizing: border-box;
    border-top: 4px solid #77bf52;
    box-sizing: border-box;
    background-color: #fff !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15);
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
}
.hide_categori_box ul li:first-child {
    border-top: none;
    list-style: none;
}
.hide_categori_box ul li {
    border-bottom: 1px dotted #cccccc;
    float: left;
    clear: both;
    display: table;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #fff;
}
.hide_categori_box ul li:hover {
    background-color: #e4e5e9;
}
.checkbox {
    float: left;
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    width: 14px;
    height: 14px;
    border-radius: 0;
    border: 0;
    top: 0;
    left: 0;
}
.categ_labl {
    font: 16px/30px 'proxima_nova_rgregular';
    color: #645e5a !important;
    width: 100%;
    display: table-cell;
    cursor: pointer;
    outline: none;
}
.categ_labl .jq-checkbox.checked .jq-checkbox__div {
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    width: 14px;
    height: 14px;
    border-radius: 0;
    border: 0;
    background-image: url('../img/ico/check_box_ico.png') !important;
    background-repeat: no-repeat;
    background-position: 0 -14px;
}
.categ_labl .jq-checkbox.checkbox {
    margin: 8px 10px 7px 12px !important;
    box-shadow: none !important;
    background: none !important;
    background-image: url('../img/ico/check_box_ico.png') !important;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer_wr {
    min-width: 1200px;
    max-width: 1920px;
    min-height: 101px;
    clear: both;
    background-color: #fff;
}
.footer {
    margin: 0 auto;
    width: 1200px;
    min-height: 101px;
    clear: both;
    border-top: 1px solid #888888;
}
.fot_logo {
    margin: 25px 80px 0 10px;
}
.fot_logo img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.fot_nav {
    margin: 0;
    padding: 39px 0 0 0px;
}
.fot_nav ul {
    position: relative;
}
.fot_nav li:first-child {
    margin-right: 0;
}
.fot_nav li {
    float: left;
    margin: 0 0 0 23px;
}
body .fot_nav a {
    display: block;
    color: #645e5a;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font: 18px 'proxima_nova_ltsemibold';
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
body .fot_nav a:hover {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border-bottom: 1px solid #645e5a;
}
.fot_copy {
    color: #645e5a;
    padding: 0 0 0 0;
    margin: 39px 9px 0 0;
    text-align: left;
}
.fot_copy p {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font: 14px 'proxima_nova_ltlight';
}
body .fot_copy a {
    float: right;
    display: block;
    color: #645e5a;
    padding: 0 0 0 3px;
    text-decoration: underline;
    font: 14px 'proxima_nova_ltlight';
}
body .all_right_mob {
    font: 20px 'proxima_nova_ltlight';
    color: #645e5a;
    text-align: center;
    padding: 0 0 0 0;
    display: none;
}
.bw {
    width: 1200px;
    margin: 0 auto;
}
.mw {
    max-width: 1200px;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}
.cb {
    clear: both !important;
}
.bs {
    box-sizing: border-box;
}
.fix_pb {
    padding-bottom: 0 !important;
}
.dn_b {
    display: block !important;
}
.dn_n {
    display: none !important;
}
.fix_bg {
    background-color: none !important;
}
.shdb {
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#333333)";
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #333333;
    box-shadow: 0px 1px 2px #333333;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color=#333333);
}
.shdt {
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000)";
    text-shadow: -1px 0px 0px #000000;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=0, Direction=270, Color=#000000);
}
.clf:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.clf:after {
    content: "";
    display: table;
    clear: both;
}
.dn {
    display: none;
}
.hb {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hb:hover {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.box-modal .mod_contact_box {
    width: 100%;
    position: relative;
}
body .box-modal {
    width: 600px;
    height: 600px;
    background-color: #ededed;
    border-radius: 0px;
    padding: 0 0 0 0;
    box-shadow: none;
}
.box-modal_close {
    right: 9px !important;
    top: 10px !important;
    z-index: 9999;
    font-size: 16px !important;
    color: #000 !important;
}
.mod_cont_box {
    position: relative;
}
.mod_cont_box input[type="text"] {
    width: 240px;
    height: 39px;
    border: 1px solid #d4d4d4;
    border-radius: 35px;
    font: 14px 'open_sanslight';
    color: #a8a8a8;
    outline: none;
    margin: 20px auto 20px auto;
    display: block;
    padding: 0 0 0 19px;
}
/********_SEO BOX_********/body p {
    font-size: 16px;
}
body h1 {
    font-size: 30px;
}
body h2 {
    font-size: 26px;
}
body h3 {
    font-size: 20px;
}
body h4 {
    font-size: 16px;
}
a:visited {
    color: #900060;
}
a:focus {
}



.xxx {
    width: 250px !important;
}